<!-- partial: print, export to text, and export to csv buttons -->
<div>
  <%= link_to t('print_btn'), '#',
      onclick: 'window.print();return false;',
      class: "btn buttons-shape btn-green mb-3 dont-print text-size" %>
  <span data-controller="popover" data-bs-html="true" data-bs-toggle="popover"
      data-bs-trigger="hover" data-bs-placement="right" data-bs-delay= '{"show": 1000}'
      data-bs-content="<%= t '.message_csv_text_pop' %>">
    <%= link_to t('.to_text_btn'),
        if from == "index"
          user_box_scores_path(to_text: true, round_id: round.id, club_id: round.club_id)
        else
          index_league_path(to_text: true, league_start: @league_start, club_id: @club.id)
        end,
        method: :get,
        onclick: 'JavaScript:location.reload(true);',
        class: "btn buttons-shape btn-green mb-3 dont-print text-size" %>
  </span>
  <% if from == "index" %>
    <span data-controller="popover" data-bs-html="true" data-bs-toggle="popover"
        data-bs-trigger="hover" data-bs-placement="right" data-bs-delay= '{"show": 1000}'
        data-bs-content="<%= t '.message_csv_round_pop' %>">
      <%= link_to t('.to_csv_btn'), csv_round_league_table_path(round_id: round.id, club_id: round.club_id),
                                  class: "btn buttons-shape btn-green mb-3 dont-print text-size" %>
    </span>
    <%= link_to t('.all_boxes_link'), boxes_path(round_id: @round.id, club_id: @round.club_id), class: "btn buttons-shape btn-yellow mb-3" %>
    <%= render 'shared/stats' %>
  <% else %>
    <span data-controller="popover" data-bs-html="true" data-bs-toggle="popover"
        data-bs-trigger="hover" data-bs-placement="right" data-bs-delay= '{"show": 1000}'
        data-bs-content="<%= t '.message_csv_pop' %>">
    <%= link_to t('.to_csv_btn'), csv_league_table_path(league_start: @league_start, club_id: round.club_id),
                                  class: "btn buttons-shape btn-green mb-3 dont-print text-size" %>
    </span>
    <%= link_to t('.all_boxes_link'), boxes_path(round_id: @round.id, club_id: @round.club_id), class: "btn buttons-shape btn-yellow mb-3" %>
    <%= link_to t('back_btn'), user_box_scores_path(round_id: round.id, club_id: round.club_id),
                                  class: "btn buttons-shape btn-green mb-3 dont-print text-size" %>
  <% end %>
</div>
