<% up = ["↓", "↑"] %>
<% down = ["↑", "↓"]%>
<div class="row justify-content-center align-items-center font-bold sticky-league-table-header">
  <div class="col-sm-3"><%=render "header_link", header: t('.player_header'), dir: up%></div>
  <div class="col-sm-1"><%=render "header_link", header: t('.rank_header'), dir: up%></div>
  <div class="col-sm-1"><%=render "header_link", header: t('.points_header'), dir: down%></div>
  <div class="col-sm-1"><%=render "header_link", header: t('.box_header'), dir: up%></div>
  <div class="col-sm-1"><%=render "header_link", header: t('.matches_played_header'), dir: down%></div>
  <div class="col-sm-1"><%=render "header_link", header: t('.matches_won_header'), dir: down%></div>
  <div class="col-sm-1"><%=render "header_link", header: t('.sets_played_header'), dir: down%></div>
  <div class="col-sm-1"><%=render "header_link", header: t('.sets_won_header'), dir: down%></div>
</div>
