<% user_box_scores.each do |user_box_score| %>
  <% player = user_box_score.user %>
  <li style=<%=player == current_user ? "color:#336699" : ""%>>
    <% name = "#{render "shared/fullname", user: player}" %>
    <% message = "#{name}<br />ðŸ“ž #{player.phone_number}<br />âœ‰ï¸ #{player.email}" %>
    <div data-controller="popover" data-bs-html="true" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="bottom" data-html="true" data-bs-content="<%= message %>">

      <div class="row justify-content-center player-name">
      <%# <div class="row justify-content-center player-name grid-container"> %>
        <div class="col-sm-3"><%= render "shared/fullname", user: player %></div>
        <div class="col-sm-1 text-padding"><%= "# #{user_box_score.rank}" %></div>
        <div class="col-sm-1 text-padding"><%= pluralize user_box_score.points, "pt" %></div>
        <div class="col-sm-1 text-padding"><%= "#{user_box_score.box.box_number}" %></div>
        <div class="col-sm-1 text-padding"><%= pluralize user_box_score.games_played, "match" %></div>
        <div class="col-sm-1 text-padding"><%= pluralize user_box_score.games_won, "match" %></div>
        <div class="col-sm-1 text-padding"><%= pluralize user_box_score.sets_played, "set" %></div>
        <div class="col-sm-1 text-padding"><%= pluralize user_box_score.sets_won, "set" %></div>
        <% if current_user.role == "admin" || current_user.role == "referee" %>
          <%= link_to '', box_referee_path(user_box_score.box, page_from: user_box_scores_path), class: "line-link" %>
        <% else %>
          <%= link_to '', box_path(user_box_score.box, page_from: user_box_scores_path), class: 'line-link'%>
        <% end %>
      </div>

    </div>
  </li>
<% end %>
