<!-- league table data -->
<ol type="1">
  <% user_box_scores.each_with_index do |user_box_score, index| %>
    <% player = user_box_score.user %>
    <li class=<%=player == current_user ? "color-tennis-red" : (index % 2 == 0 ? "color-tennis-blue" : "color-tennis-aqua") %>>
      <% name = "#{render "shared/fullname", user: player}" %>
      <% message = "#{name}<br />ðŸ“ž #{player.phone_number}<br />âœ‰ï¸ #{player.email}" %>
      <div data-controller="popover" data-bs-html="true" data-bs-toggle="popover"
          data-bs-trigger="hover focus" data-bs-placement="bottom" data-html="true" data-bs-delay= '{ "show": 500 }'
          data-bs-content="<%= message %>">
        <div class="one-liner hovered-payer">
          <div class="col-3"><%= render "shared/fullname", user: player %></div>
          <div class="col-1 top-bottom-padding"><%= "# #{user_box_score.rank}" %></div>
          <div class="col-1 top-bottom-padding"><%= t("pts", count: user_box_score.points) %></div>
          <div class="col-1 top-bottom-padding"><%= "#{user_box_score.box.box_number}" %></div>
          <div class="col-1 top-bottom-padding"><%= t(".matches", count: user_box_score.games_played) %></div>
          <div class="col-1 top-bottom-padding"><%= t(".matches", count: user_box_score.games_won) %></div>
          <div class="col-1 top-bottom-padding"><%= t(".sets", count: user_box_score.sets_played) %></div>
          <div class="col-1 top-bottom-padding"><%= t(".sets", count: user_box_score.sets_won) %></div>
          <%= link_to '', box_path(user_box_score.box, page_from: user_box_scores_path), class: 'line-link'%>
        </div>
      </div>
    </li>
  <% end %>
</ol>
