<%#
  Sortable column headers (singles and doubles/padel).
  Singles: first name / surname. Doubles/padel: 1st player / 2nd player (both sort by that player’s last name).
%>
<%# Arrow symbols for sort direction indicators %>
<% topdown = ["↑", "↓"] %>
<% name_col1 = @doubles_mode ? t(".first_player_header") : t(".first_name_header") %>
<% name_col2 = @doubles_mode ? t(".second_player_header") : t(".last_name_header") %>

<%# Player / team name columns (col-3) %>
<div class="col-3">
  <span class="<%=class_names("header-no-link", "mobile-text-size": @is_mobile) %>"></span>
  <%= render "header_link", from: from, nb: 1, header: name_col1, direction: topdown.reverse %>
  <%= render "header_link", from: from, nb: 2, header: name_col2, direction: topdown.reverse %>
  <span class="<%=class_names("header-no-link", "mobile-text-size": @is_mobile) %>"></span>
</div>

<%# Rank Column (col-1): Player's ranking in the league %>
<div class="col-1"><%=render "header_link", from: from, nb: 3, header: t('.rank_header'), direction: topdown.reverse%></div>

<%# Points Column (col-1): Total points earned %>
<div class="col-1"><%=render "header_link", from: from, nb: 4, header: t('.points_header'), direction: topdown%></div>

<%# Box Column (col-1): Only shown in round ranking (index), not tournament ranking %>
<% if from == "index" %>
  <div class="col-1"><%=render "header_link", from: from, nb: 5, header: t('.box_header'), direction: topdown.reverse%></div>
<% end %>

<%# Matches Columns (col-1 each): Matches played and matches won %>
<div class="col-1"><%=render "header_link", from: from, nb: 6, header: t('.matches_played_header'), direction: topdown%></div>
<div class="col-1"><%=render "header_link", from: from, nb: 7, header: t('.matches_won_header'), direction: topdown%></div>

<%# Sets Columns (col-1 each): Sets played and sets won %>
<div class="col-1"><%=render "header_link", from: from, nb: 8, header: t('.sets_played_header'), direction: topdown%></div>
<div class="col-1"><%=render "header_link", from: from, nb: 9, header: t('.sets_won_header'), direction: topdown%></div>

<%# Games Columns (col-1 each): Games played and games won %>
<div class="col-1"><%=render "header_link", from: from, nb: 10, header: t('.games_played_header'), direction: topdown%></div>
<div class="col-1"><%=render "header_link", from: from, nb: 11, header: t('.games_won_header'), direction: topdown%></div>
