<!-- partial: league table headers -->
<% topdown = ["↑", "↓"] %>

<div class="col-3">
  <span class="<%=class_names("header-no-link", "mobile-text-size": @is_mobile) %>"><%= t('.player_header') %></span>
  <%=render "header_link", from: from, nb: 1, header: t('.first_name_header'), direction: topdown.reverse%>
  <%=render "header_link", from: from, nb: 2, header: t('.last_name_header'), direction: topdown.reverse%>
  <span class="<%=class_names("header-no-link", "mobile-text-size": @is_mobile) %>"></span>
</div>
<div class="col-1"><%=render "header_link", from: from, nb: 3, header: t('.rank_header'), direction: topdown.reverse%></div>
<div class="col-1"><%=render "header_link", from: from, nb: 4, header: t('.points_header'), direction: topdown%></div>
<% if from == "index" %>
  <div class="col-1"><%=render "header_link", from: from, nb: 5, header: t('.box_header'), direction: topdown.reverse%></div>
<% end %>
<div class="col-1"><%=render "header_link", from: from, nb: 6, header: t('.matches_played_header'), direction: topdown%></div>
<div class="col-1"><%=render "header_link", from: from, nb: 7, header: t('.matches_won_header'), direction: topdown%></div>
<div class="col-1"><%=render "header_link", from: from, nb: 8, header: t('.sets_played_header'), direction: topdown%></div>
<div class="col-1"><%=render "header_link", from: from, nb: 9, header: t('.sets_won_header'), direction: topdown%></div>
<div class="col-1"><%=render "header_link", from: from, nb: 10, header: t('.games_played_header'), direction: topdown%></div>
<div class="col-1"><%=render "header_link", from: from, nb: 11, header: t('.games_won_header'), direction: topdown%></div>
