<!-- partial: league table intro lines and photo display -->
<% if params["sort"] %>
  <%# when a header is clicked, the image disappears and top_line becomes clickable (unless on a mibile) %>
  <% params["sort"] = nil  %>
  <p class="<%= class_names("dont-print text-size", "stick-rules": is_mobile) %>">
    <% if is_mobile %>
      <%= t '.top_line_html' %>
    <% else %>
      <%= link_to t(".top_line_html"),
          user_box_scores_path(round_id: round.id, club_id: round.club_id),
          class: "btn btn-shape btn-top-line no-padding-no-border",
          title: t(".hover_text") %>
    <% end %>
  </p>
<% else %>
  <div class="photo-wrap frame-color-shape frame-padding color-black text-size dont-print">
    <%= sanitize t('.rules') %>
    <%= render 'shared/stats' %>
  </div><br>

  <p class="<%= class_names("dont-print text-size", "stick-rules": is_mobile) %>">
    <%= t '.top_line_html' %>
  </p>
<% end %>
