<!-- partial: league table intro lines and photo display -->
<% if params["sort"] %>
  <% params["sort"] = nil  %>
  <p class="<%= class_names("dont-print text-size", "stick-rules": is_mobile) %>">
    <%= link_to t(".top_line_html"),
        user_box_scores_path(round_start: round.start_date, club_id: round.club.id),
        class: "btn buttons-shape btn-top-line no-padding-no-border" %>
  </p>
<% else %>
  <p class="<%= class_names("dont-print text-size", "stick-rules": is_mobile) %>">
    <%= t '.top_line_html' %>
  </p>
  <div class="photo-wrap frame-color-shape frame-padding text-size dont-print">
    <%= sanitize t('.rules') %>
  </div><br>
<% end %>
