<!-- index page: league table -->
<div class="container" data-controller="toggle"
     data-toggle-screen-type-value="<%= @is_mobile ? "mobile" : "widescreen" %>">
  <% if !@is_mobile %><br><% end %>
  <div class="one-liner text-size">
    <h3><%= t '.league_table_title' %></h3>
    <!-- the following line will display when printing the page -->
    <span class="will-print one-liner">
      <div><%= image_tag "tennis_racket.png", alt: "Tennis racket", width: 50 %></div>
      <div>LeagueBox ©</div>
      <div><%= "#{l(Time.now, format: :wwwddmmm_date)}" %>&nbsp;&nbsp<%= "#{l(Time.now, format: :hhmm_time)}" %></div>
    </span>
  </div>
  <% if @round %>
    <div class=<%=@is_mobile ? "" : "one-liner"%>>
      <h4><%= render "shared/display_club", round: @round, fallback_path: user_box_scores_path, add_text: "" %></h4>
      <%= render "shared/select_round", fallback_path: user_box_scores_path %>
    </div>
    <% if !@render_to_text %>
      <%# exclude buttons and top line from exporting to text (in user_box_score index) %>
      <br><%= render 'buttons', round: @round %>
      <%= render 'top_line', round: @round, is_mobile: @is_mobile %>
    <% end %>
    <%= render 'league_table' %>
  <% else %>
    <div class="dont-print text-size">
      <!-- if no round selected, invoke forms to select a club (admin only) and a round -->
      <%= render "shared/select_club_round", fallback_path: user_box_scores_path, intro_paragraph: t(".intro") %>
    </div>
  <% end %>
</div>
