<%# show the league table %>
<div class="container">
  <% name = "Box League Ranking" %>
  <div data-controller="popover" data-bs-html="true" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right" title="<%= name %>" data-bs-content="<%= @rules %>">
    <h3>League table</h3>
  </div>
  <% if @round %>
    <div class="same-line">
      <div><%= render "shared/display_club_round", round: @round %></div>
      <div>
        <%= "Click on a player line to access their box" %>
      </div>
      <div></div>
    </div>
    <div class="frame-shape frame-padding">
      <p><%= sanitize @rules %></p>
      <ol type="1">
        <div class="row justify-content-center sticky-header font-bold">
            <div class="col-sm-3"><%=render "header_link", header: "Player"%></div>
            <div class="col-sm-1"><%=render "header_link", header: "Rank"%></div>
            <div class="col-sm-1"><%=render "header_link", header: "Points"%></div>
            <div class="col-sm-1"><%=render "header_link", header: "Box"%></div>
            <div class="col-sm-2"><%=render "header_link", header: "Matches"%></div>
            <div class="col-sm-2"><%=render "header_link", header: "Matches Won"%></div>
            <div class="col-sm-1"><%=render "header_link", header: "Sets"%></div>
            <div class="col-sm-1"><%=render "header_link", header: "Sets Won"%></div>
        </div>
        <div>
          <%= render "league_table", user_box_scores: @user_box_scores %>
        </div>
      </ul>
    </div>
    <br>
    <div class="buttons-wrap">
      <%= link_to "Back to top", "#top", class: "btn button-shape btn-green" %>
      <%= link_to "All boxes", boxes_path(round_start: @round.start_date, club_name: @round.club.name), class: "btn button-shape btn-green" %>
    </div>
  <% else %>
    <%# invoke forms to select a club (admin only) and a round %>
    <%= render "shared/select_club_round", fallback_path: user_box_scores_path %>
  <% end %>
</div>
