<!-- display the league table -->
<div class="container" data-controller="toggle">
  <h3><%= t '.league_table_title' %></h3>
  <% if @round %>
    <div>
      <div class="same-line">
        <div><%= render "shared/display_club_round", round: @round %></div>
        <div>
          <%= link_to t('print_btn'), '#',
              onclick: 'window.print();return false;',
              class: "btn buttons-shape btn-green dont-print" %>
          <%= link_to t('.to_text_btn'), user_box_scores_path(download: true, round_start: @round.start_date, club_name: @round.club.name),
              onclick: 'send_data(render_to_string, template: :raw, filename: "/object.rtfd", type: "text/html", round_start: @round.start_date, club_name: @round.club.name)',
              # user_box_scores_path(download: true, round_start: @round.start_date, club_name: @round.club.name),
              class: "btn buttons-shape btn-green dont-print" %>
          </div>
      </div><br>

      <% if params["sort"] %>
        <% params["sort"] = nil  %>
        <p class="stick-rules dont-print">
          <%= link_to t(".top_line_html"), user_box_scores_path(round_start: @round.start_date, club_name: @round.club.name), class: "btn buttons-shape btn-green no-padding-no-border"%>
        </p>
      <% else %>
        <p class="stick-rules dont-print">
          <%= t '.top_line_html' %>
        </p>
        <div class="photo-wrap frame-shape frame-padding text-size dont-print">
          <%= sanitize t('.rules') %>
        </div><br>
      <% end %>
      <%# <div class="league-frame"> %>
      <!-- league-frame and league-container allow overflow-x (horizontal scroll) but kills stickiness
      stickiness do not marry well with overflow, solve it with https://uxdesign.cc/position-stuck-96c9f55d9526  -->
      <div class="frame-shape frame-padding text-size">
      <%# <div class="frame-shape frame-padding text-size league-container"> %>
        <%= render "headers_line" %>
        <%# <div class="expand-to-print box-scroller" data-toggle-target="togglableElement" data-action="scroll->toggle#scrollFunction" > %>
        <div class="expand-to-print box-scroller" data-toggle-target="togglableElement" >
          <ol type="1"><%= render "data_table", user_box_scores: @user_box_scores %></ol>
          <button data-action="click->toggle#scrollToTop" data-toggle-target="topButton"
            class="btn buttons-shape btn-blue button-top d-none"><i class="fa-solid fa-up-long"></i>
          </button>
        </div>
      </div>
    </div>
  <% else %>
    <!-- if no round selected, invoke forms to select a club (admin only) and a round -->
    <%= render "shared/select_club_round", fallback_path: user_box_scores_path, intro_paragraph: t(".intro") %>
  <% end %>
</div>
