<!-- index league page: league table for the tournament -->
<div class="<%= class_names("container": !@is_mobile) %>" data-controller="toggle"
     data-toggle-screen-type-value="<%= @is_mobile ? "mobile" : "widescreen" %>">
  <% if !@is_mobile %><br><% end %>
  <% if @rounds %>

  <div class="one-liner text-size">
    <% boxes = @rounds.map{ |round| "#{round_label(round)[-3..]}: #{round.start_date.strftime('%d/%m/%Y')} - #{round.end_date.strftime('%d/%m/%Y')},<br />" }.sort.join[0...-7]
      message = "<br /><u>#{t(".rounds")} #{l(@league_start, format: :yyymm_date)}:</u><br />#{boxes}" %>
    <div data-controller="popover" data-bs-html="true" data-bs-toggle="popover"
        data-bs-trigger="hover focus" data-bs-placement="bottom" data-html="true" data-bs-delay= '{ "show": 500 }'
        data-bs-content="<%= message %>">
      <h3><%= t '.league_table_title' %><%= " #{l(@league_start, format: :yyymm_date)}" %></h3>
    </div>
    <!-- the following lines will display when printing the page -->
    <span class="will-print one-liner">
      <div><%= image_tag "tennis_racket.png", alt: "Tennis racket", width: 50 %></div>
      <div>LeagueBox ©</div>
      <div><%= "#{l(Time.now, format: :wwwddmmm_date)}" %>&nbsp;&nbsp;<%= "#{l(Time.now, format: :hhmm_time)}" %></div>
    </span>
  </div>
  <% end %>
  <% if @league_start && @round %>
    <div class=<%=@is_mobile ? "" : "one-liner"%>>
      <h4><%= render "shared/display_club", round: @round, fallback_path: user_box_scores_path %></h4>
      <% if @league_starts.size > 1 %>
        <%= render "select_league", fallback_path: user_box_scores_path, from: "index_league" %>
      <% end %>
    </div>
    <% if !@render_to_text %>
      <%# don't export to text buttons and top line (in user_box_score index) %>
      <br><%= render 'action_buttons', round: @round, from: "index_league" %>
    <% end %>
    <%= render 'league_table', from: "index_league" %>
  <% else %>
    <!-- if no round selected, display the forms to select a club (admin only) and a round -->
    <div class="dont-print text-size">
      <%= render "shared/select_club_round", fallback_path: index_league_path, explain_paragraph: t(".intro") %>
    </div>
  <% end %>
</div>
