<%# partial: display message in the chatroom; called from the Chatroom show page %>
<!--<div id="message-<%= message.id %>" >
  <small>
    <% sender = message.user.club == current_user.club ? "" : "#{message.user.club.name}: " %>
    <% sender += render "shared/fullname", user: message.user %>
    <% if message.user.role == "player" %>
      <% box = message.user.user_box_scores.map(&:box).last %>
      <% user_box_score = UserBoxScore.find_by(user_id: message.user_id, box_id: box.id) %>
      <% sender += " (Box #{box.box_number}, rank ##{user_box_score.rank})"  %>
    <% else %>
      <% sender += " (#{message.user.role})"  %>
    <% end %>
    <div data-controller="popover" data-bs-html="true" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="left" data-html="true" data-bs-delay= '{ "show": 500 }' data-bs-content="<%= sender %>">
      <strong><%= message.user.nickname %></strong>
    </div>
    <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
  </small>
  <p><%= sanitize message.content %></p>
</div> -->

<!-- improved the styling thanks to https://www.honeybadger.io/blog/chat-app-rails-actioncable-turbo/
the styling is now sender specific:
style in stylessheet/pages/_chatroom.scss and in app/views/layouts/application.html.erb -->
<div id="message-<%= message.id %>" class="cont-<%= message.user_id %> <%= 'has-checkbox' if current_user == @admin %>">
  <% if current_user == @admin %>
    <div class="message-checkbox">
      <%= check_box_tag "message_ids[]", message.id, false, { class: "message-checkbox-input", data: { message_id: message.id } } %>
    </div>
  <% end %>
  <div class="message-box msg-<%= message.user_id %> ">
    <small>
      <%# sender = popover text when hovering on a sendee name %>
      <% sender = message.user.club == current_user.club || message.user.role == "admin" ?
                      "" : "#{message.user.club.name}: " %>
      <% case message.user.role %>
      <% when "player" %>
        <% box = message.user.user_box_scores.map(&:box).last %>
        <% user_box_score = UserBoxScore.find_by(user_id: message.user_id, box_id: box.id) %>
        <% sender += render "shared/fullname", user: message.user %>
        <% sender += " (Box #{box.box_number}, rank ##{user_box_score.rank})"  %>
        <% color_name = message.user.club == current_user.club ? "color-tennis-blue" : "color-grey" %>
      <% when "referee", "player referee" %>
        <% sender += render "shared/fullname", user: message.user %>
        <% color_name = message.user.club == current_user.club ? "color-tennis-aqua" : "color-black" %>
      <% when "admin" %>
        <% sender += " LeagueBox © admin"  %>
        <% color_name = "color-tennis-red" %>
      <% end %>
      <% sender += " #{message.user.role}"  %>
      <div class="d-flex justify-content-between align-items-start">
        <div data-controller="popover" data-bs-html="true" data-bs-toggle="popover"
            data-bs-trigger="hover" data-bs-placement="left" data-html="true" data-bs-delay= '{ "show": 500 }'
            data-bs-content="<%= sender %>">
          <strong class=<%=color_name%>><%= message.user.nickname %></strong>
        </div>
        <% if current_user == @admin %>
          <%= link_to chatroom_message_path(message.chatroom, message),
                      data: {
                        turbo_method: :delete,
                        turbo_confirm: t('chatrooms.show.confirm_delete'),
                        action: "click->chatroom-subscription#deleteMessage",
                        message_id: message.id
                      },
                      class: "btn btn-sm btn-outline-secondary ms-2",
                      title: t('chatrooms.show.delete_message') do %>
            ×
          <% end %>
        <% end %>
      </div>
      <!--<i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>-->
      <small class=<%=color_name%>><i><%= l(@tz.to_local(message.created_at), format: :wwwwddmmmyyyy_at_hhmm) %></i></small>
    </small>
    <p class=<%=color_name%>><%= sanitize message.content %></p>
  </div>
</div>
