<!-- display (players), or chose and display (admin/referee) a chatroom.
For each box, if not already created in Round/new (TO DO?), or in UserBoxScore/new (TO DO?),
a chatroom is created in Box controller #my_scores.
-->
<% if @chatroom %>
  <!-- coming from Box/my_scores or if chatroom chosen by admin/Referee -->
  <div class="<%= class_names("text-size", "container": !@is_mobile) %>"
    data-controller="chatroom-subscription"
    data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
    data-chatroom-subscription-chatroom-name-value="<%= @chatroom.name %>"
  >
    <% if !@is_mobile %><br><% end %>
    <div class="one-liner" style="width: 100%">
      <h3><%= "Chatroom - Box #{@box_nb}" %></h3>
      <span class="will-print"><%= image_tag "tennis_racket.png", alt: "Tennis racket", width: 50 %> LeagueBox ©</span>
    </div>
    <h5  class="one-liner">
      #<%= t(".chatroom_title", chatroom: @chatroom.name) %>
      <div>
        <%= link_to t('.back_btn'), :back, class: "btn buttons-shape btn-yellow dont-print" %>
        <%= link_to t('print_btn'), '#', :onclick => 'window.print();return false;', class: "btn buttons-shape btn-green dont-print"%>
      </div>
    </h5>
    <div class="frame-color-shape chatroom-frame">
        <!-- list of previous messages -->
      <div class="messages print-all-content" data-chatroom-subscription-target="messages">
        <div data-controller="popover" data-bs-html="true" data-bs-toggle="popover"
          data-bs-trigger="click" data-bs-placement="center" data-bs-delay= '{ "show": 500 }'
          data-bs-content="<%= t '.message' %>">
          <% @chatroom.messages.sort.each do |message| %>
            <%= render "messages/message", message: message %>
          <% end %>
        </div>
      </div>

      <!-- new message form -->
      <div class="dont-print">
        <%= form_for [@chatroom, @message],
          html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f| %>
          <%= f.text_field :content,
            label: false,
            placeholder: "#{t ".message_invite"} #{@chatroom.name[-10,200]}",
            class: "flex-grow-1 border-0 rounded-3"
          %>
          <%= f.submit t(".send_btn"), class: "btn buttons-shape btn-beige ms-2" %>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <!-- referees and admin get to select a chatroom -->
  <div class="<%= class_names("text-size", "container": !@is_mobile) %>">
    <br><h3><%= t(".chatrooms_title", club: current_user == @admin ? "" : current_user.club.name).strip.titleize %></h3>
    <h5><%= t(".chatroom_choice") %></h5>
    <div class="frame-color-shape frame-padding text-size">
      <br>
      <%= form_with url: chatroom_path, method: :get do |form| %>
        <%# choose existing chatroom from list of names %>
        <%= form.label :chatroom, t(".chose_chatroom") %>
        &nbsp;&nbsp;&nbsp;&nbsp;<%= form.select(:chatroom, @chatrooms.sort.unshift(t(".chatroom_name")), {selected: "chatroom"}, {onchange: "this.form.submit();"}) %>
        <%# form.submit t(".confirm_btn"), class: "btn buttons-shape btn-green", name: "" %>
        <%# form.select(:round_id, @start_dates, {selected: @selected_date}, {onchange: "this.form.submit();"}) %>&nbsp;&nbsp;&nbsp;&nbsp;
      <% end %>
      <br><b><%= t(".or") %>:</b><br><br>
      <%= t(".new_chatroom") %><br>
      <% if current_user == @admin %>
        <%= form_with url: chatroom_path, method: :get do |form| %>
          <%# as some chatrooms are not open yet, select a club (admin) %>
          <div class="row">
            <div class="col-1"></div>
            <div class="col-2"><%= form.label :club, t(".club") %></div>
            <div class="col-3">
              <%= form.select(:club, params[:club] ? @clubs : @clubs.unshift("club"), {selected: params[:club] ? params[:club] : "club"}, {onchange: "this.form.submit();"}) %>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="row">
          <div class="col-1"></div>
          <div class="col-2"><%= "Club" %></div>
          <div class="col-3">
            <%= current_user.club.name %>
          </div>
        </div>
        <% params[:club] = current_user.club.name %>
      <% end %>
      <% if params[:club] %>
        <% club_index = @data.index {|club| club[:name] == params[:club]}
            rounds = @data[club_index][:rounds].map{|round| round[:start_date]}.sort %>
        <%= form_with url: chatroom_path, method: :get do |form| %>
          <%# select a round in the selected club %>
        <div class="row">
          <div class="col-1"></div>
          <div class="col-2"><%= form.label :round, t(".round") %></div>
          <div class="col-3">
            <%= form.select(:round, rounds.unshift("round"), {selected: params[:round] ? params[:round] : "round"}, {onchange: "this.form.submit();"}) %>
          </div>
          <%= hidden_field_tag(:club, params[:club]) %>
        </div>
        <% end %>
      <% end %>
      <% if params[:round] %>
        <% club_index = @data.index {|club| club[:name] == params[:club]}
           round_index = @data[club_index][:rounds].index {|round| round[:start_date] == params[:round]}
           boxes = @data[club_index][:rounds][round_index][:boxes].map{|box| box[:box_number]}.sort %>
        <%= form_with url: chatroom_path, method: :get do |form| %>
          <%# select a box in the selected round %>
        <div class="row">
          <div class="col-1"></div>
          <div class="col-2"><%= form.label :box, t(".box") %></div>
          <div class="col-3">
            <%= form.select(:box, boxes.unshift("box"), {selected: "box"}, {onchange: "this.form.submit();"}) %>
          </div>
          <%= hidden_field_tag(:club, params[:club]) %>
          <%= hidden_field_tag(:round, params[:round]) %>
        </div>
        <% end %>
      <% end %>
      <br>
    </div>
  </div>
<% end %>
<br>
