<!-- display (players), or chose and display (admin/referee) a chatroom.
For each box, if not already created in Round/new (TO DO?), or in UserBoxScore/new (TO DO?),
a chatroom is created in Box controller #my_scores.
-->
<% if @chatroom %>
  <!-- coming from Box/my_scores or if chatroom chosen from the form -->
  <div class="<%= class_names("text-size", "container": !@is_mobile) %>"
    data-controller="chatroom-subscription"
    data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
    data-chatroom-subscription-chatroom-name-value="<%= @chatroom.name %>"
  >
    <% if !@is_mobile %><br><% end %>
    <div class="one-liner" style="width: 100%">
      <h3><%= "Chatroom - Box #{@box_nb}" %></h3>
      <span class="will-print"><%= image_tag "box_league_racket.png", alt: "Tennis racket", width: 50 %> LeagueBox ©</span>
    </div>
    <h5  class="one-liner">
      #<%= t(".chatroom_title", chatroom: @chatroom.name) %>
      <div>
        <%# link_to t('.back_btn'), :back, class: "btn buttons-shape btn-yellow dont-print" %>
        <%= link_to t('.back_btn'), my_scores_path(0), class: "btn buttons-shape btn-yellow dont-print" %>
        <%= link_to t('print_btn'), '#', onclick: 'window.print();return false;', class: "btn buttons-shape btn-green dont-print"%>
      </div>
    </h5>
    <div class="frame-color-shape chatroom-frame">
      <!-- list of all previous messages in the chatroom -->
      <div class="messages print-all-content" data-chatroom-subscription-target="messages">
        <% @chatroom.messages.sort.each do |message| %>
          <%= render "messages/message", message: message %>
        <% end %>
      </div>

      <!-- new message form -->
      <%# click on the message text box for the legend to show %>
      <div class="dont-print" data-controller="popover" data-bs-html="true" data-bs-toggle="popover"
        data-bs-trigger="click" data-bs-placement="top" data-bs-delay= '{ "show": 500 }'
        data-bs-content="<%= t '.message' %>">
        <%= form_for [@chatroom, @message],
          html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f| %>
          <%= f.text_field :content,
            label: false,
            placeholder: "#{t ".message_invite"} #{@chatroom.name[-10,200]}",
            class: "flex-grow-1 border-0 rounded-3"
          %>
          <%= f.submit t(".send_btn"), class: "btn buttons-shape btn-beige ms-2" %>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <!-- select a chatroom from the forms -->
  <div class="<%= class_names("text-size", "container": !@is_mobile) %>">
    <% unless (["admin", "referee", "player referee"].include?(current_user.role)) %>
      <br><br><%= t 'not_authorised' %>
    <% else %>
      <% suffix = current_user.role.split.map(&:capitalize).join.underscore %>
      <br><h3><%= t(".chatrooms_title", club: current_user == @admin ? "" : current_user.club.name).strip.titleize %></h3>
      <h5><%= t(".chatroom_choice") %> <%= "#{t('.message2_box_pop')} #{t(".message2_box_pop_#{suffix}")}" %></h5>
      <div class="frame-color-shape frame-padding frame-margin-rl text-size">
        <br>
        <%# form 1: choose an existing chatroom from a list of chatroom names %>
        <div data-controller="popover" data-bs-html="true" data-bs-toggle="popover"
        data-bs-trigger="hover focus" data-bs-placement="bottom" data-html="true" data-bs-delay= '{ "show": 500 }'
        data-bs-content="<%= t '.message1_box_pop' %>">
          <%= t(".chose_chatroom") %>
          <%= form_with url: chatroom_path, method: :get do |form| %>
            <div class="row">
              <div class="col-1"></div>
              <div class="col-11"><%= form.select(:chatroom, @chatrooms.sort.unshift(t(".chatroom_name")), {selected: "chatroom"}, {onchange: "this.form.submit();"}) %></div>
              <%# form.submit t(".confirm_btn"), class: "btn buttons-shape btn-green", name: "" %>
            </div>
          <% end %>
        </div>
        <br><b><%= t(".or") %>:</b><br><br>

        <%# form 2: select a club, a round and a box to open or create the corresponding chatroom %>
        <div data-controller="popover" data-bs-html="true" data-bs-toggle="popover"
        data-bs-trigger="hover focus" data-bs-placement="bottom" data-html="true" data-bs-delay= '{ "show": 500 }'
        data-bs-content="<%= "#{t('.message2_box_pop').capitalize} #{t(".message2_box_pop_#{suffix}")}" %>">
          <%= t(".new_chatroom") %><br>
          <% if current_user == @admin %>
            <%= form_with url: chatroom_path, method: :get do |form| %>
              <%# as some chatrooms are not open yet, select a club (admin) %>
              <div class="row">
                <div class="col-1"></div>
                <div class="col-11">
                  <%= form.select(:club, params[:club] ? @clubs : @clubs.unshift(t(".club")), {selected: params[:club] ? params[:club] : t(".club")}, {onchange: "this.form.submit();"}) %>
                </div>
              </div>
            <% end %>
          <% else %> <%# if current user is a referee or a player, a club is set %>
            <div class="row">
              <div class="col-1"></div>
              <div class="col-11">
                <%= current_user.club.name %>
              </div>
            </div>
            <% params[:club] = current_user.club.name %>
          <% end %>
          <% if params[:club] %>
            <% club_index = @data.index {|club| club[:name] == params[:club]}
              rounds = @data[club_index][:rounds].map{|round| round[:start_date]}.sort %>
            <%= form_with url: chatroom_path, method: :get do |form| %>
              <%# select a round in the selected club %>
              <div class="row">
                <div class="col-1"></div>
                <div class="col-11">
                  <% start_dates = rounds.map { |round_start_date| round_start_date.to_date.strftime('%d/%m/%Y') } %>
                  <%= form.select(:round, start_dates.unshift(t(".round")), {selected: params[:round] ? params[:round].to_date.strftime('%d/%m/%Y') : t(".round")}, {onchange: "this.form.submit();"}) %>
                  <% if params[:round] %>
                    <%# display round number in RYY_NN format %>
                    <% club = Club.find_by(name: params[:club])
                      round = Round.find_by(club_id: club.id, start_date: params[:round].to_date) %>
                    <%= "=> round R#{round_label(round)}" %>
                  <% end %>
                </div>
                <%= hidden_field_tag(:club, params[:club]) %>
              </div>
            <% end %>
          <% end %>
          <% if params[:round] %>
            <% club_index = @data.index {|club| club[:name] == params[:club]}
              round_index = @data[club_index][:rounds].index {|round| round[:start_date].to_date.strftime('%d/%m/%Y') == params[:round]}
              boxes = @data[club_index][:rounds][round_index][:boxes].map{|box| box[:box_number]}.sort %>
            <%= form_with url: chatroom_path, method: :get do |form| %>
              <%# select a box in the selected round %>
              <div class="row">
                <div class="col-1"></div>
                <div class="col-11">
                  <%= form.select(:box, boxes.unshift(t(".box")), {selected: t(".box")}, {onchange: "this.form.submit();"}) %>
                </div>
                <%= hidden_field_tag(:club, params[:club]) %>
                <%= hidden_field_tag(:round, params[:round]) %>
              </div>
            <% end %>
          <% end %>
        </div>
        <br>
      </div>
      <% if params[:club]
          club = Club.find_by(name: params[:club]) %>
        <div class="buttons-wrap">
          <%= link_to t('.back_btn'), user_box_scores_path(club_id: club.id), class: "btn buttons-shape btn-yellow" %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
<br>
