<div class="container">
  <div data-controller="popover" data-bs-html="true" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right" title="Box moves" data-bs-content="<%= @message %>">
    <h3>Proposed box moves for next round</h3>
  </div>
  <%# chose club and round from forms %>
  <%# render "shared/set_club_and_round", path: boxes_path %>
  <% if @new_round %>
    <h4><%= @club.name %></h4>
      <%= form_for @new_round do |f| %>
    <div class="boxes">

        <% @boxes.each do |box| %>
          <%= f.fields_for :boxes do |new_box| %>
            <div class="box small-font">
              <div class="box-title"><strong><%= "Box #{box.box_number}" %></strong></div>
              <ol type="1">
                <% user_box_scores = box.user_box_scores.sort { |a, b| a.rank <=> b.rank } %>
                <% move = Hash.new(0) %>
                <% move[0] = box.box_number == 1 ? 0 : 2 %>
                <% move[1] = box.box_number == 1 ? 0 : 1 %>
                <% move[(user_box_scores.length-2)] = box.box_number == @boxes.length ? 0 : -1 %>
                <% move[(user_box_scores.length-1)] = box.box_number == @boxes.length ? 0 : -2 %>
                <% user_box_scores.each do |user_box_score| %>
                  <% val = user_box_score.games_played > 0 ? move[user_box_scores.index(user_box_score)] : 99 %>
                  <%= f.fields_for :user_box_scores do |new_user_box_score| %>
                    <li><div class="row">
                      <div class="col-sm-6"><%= render "shared/fullname", user: user_box_score.user %></div>
                      <div class="col-sm-3"><%= "##{user_box_score.rank}" %></div>
                      <div class="col-sm-3"><%= new_user_box_score.select :box_id, [-3,-2,-1,0,1,2,3,99], selected: val %></div>
                    </div></li>
                  <% end %>
                <% end %>
              </ol>
            </div>
          <% end %>
        <% end %>
    </div>
      <% end %>
  <% end %>
  <br>
  <div class="buttons-wrap">
    <%= link_to "Back", "javascript:history.back()", class: "btn button-flat" %>
    <% if current_user && current_user.role == "player" %>
      <%# passing 0 to manage_my_box_path, forces user to chose a round%>
      <%= link_to "Enter my results", manage_my_box_path(0), class: "btn button-flat" %>
    <% end %>
  </div>
</div>
