<%#
  New Round Page
  Admin-only page to create a new round from the current round.
  Allows setting player box moves (shifts) and optionally uploading a CSV file.
  Accessed from Box index view.

  Features:
  - Display all boxes with players, ranks, and matches played
  - Allow admin to set box moves (shifts) for each player (-3 to +3 boxes, or 99 for removal)
  - Optional CSV file upload to create round from file (preempts form shifts)
  - Set round dates (league_start, start_date, end_date)
%>
<div class="container">
  <%# Authorization Check: Only admins can access this page %>
  <% unless (["admin"].include?(current_user.role)) %>
    <br><br><%= t 'not_authorised' %>
  <% else %>
    <div class="frame-color-shape frame-padding">
      <%# Page Header: Title and subtitle with popover explaining box moves %>
      <div data-controller="popover" data-bs-html="true" data-bs-toggle="popover"
          data-bs-trigger="hover" data-bs-placement="right" data-bs-delay= '{ "show": 500 }'
          title="Box moves" data-bs-content="<%= t '.message' %>">
        <h3><%= t '.new_round_title' %></h3>
        <h4><%= t '.new_round_subtitle' %></h4>
      </div>

      <%# Main Form: Only display if @new_round is initialized %>
      <% if @new_round %>
        <h4><%= @current_round.club.name %></h4>
        <%= form_for @new_round do |f| %>
          <div data-controller="popover" data-bs-html="true" data-bs-toggle="popover"
            data-bs-trigger="hover" data-bs-placement="right" data-bs-delay= '{ "show": 500 }'
            title="Box moves" data-bs-content="<%= t '.message_boxes' %>">
            <div class="boxes">

              <%# Boxes Section: Display each box with its players and box move controls %>
              <%= f.fields_for :boxes do |new_box| %>
                <% box = @boxes[new_box.index] %>
                <div class="box small-font">
                  <%# Box Header: Box number %>
                  <div class="box-title"><b><%= "Box #{box.box_number}" %></b></div>
                  <ol type="1">
                    <%# Sort players by rank for display %>
                    <% user_box_scores = box.user_box_scores.sort { |a, b| a.rank <=> b.rank } %>
                    <%= new_box.fields_for :user_box_scores do |new_user_box_score| %>
                      <% user_box_score = user_box_scores[new_user_box_score.index] %>
                      <li>
                        <div class="row">
                          <%# Player Name Column %>
                          <div class="col-6"><%= render "shared/fullname", user: user_box_score.user %></div>
                          <%# Current Rank Column %>
                          <div class="col-2"><%= "##{user_box_score.rank}" %></div>
                          <%# Matches Played Column %>
                          <div class="col-1"><%= "#{user_box_score.matches_played}" %></div>
                          <%# Box Move Selector: Shift player up/down boxes or remove (99) %>
                          <%# shift is an array method: removes first element from array and returns the element %>
                          <%# Options: -3 (move down 3 boxes), -2, -1, 0 (stay), 1, 2, 3 (move up), 99 (remove) %>
                          <div class="col-2"><%= new_user_box_score.select :box_id, [-3,-2,-1,0,1,2,3,99].reverse, selected: @player_moves.shift %></div>
                        </div>
                      </li>
                    <% end %>
                  </ol>
                </div>
              <% end %>

              <%# Round Configuration Section: CSV upload, dates, and submit %>
              <div class="new_round-box small-font">
                <div class="box-title"><b><%= t '.new_round' %></b></div>
                <div>
                  <%# CSV File Upload: Optional - if provided, preempts form shifts %>
                  <div data-controller="popover" data-bs-html="true" data-bs-toggle="popover"
                    data-bs-trigger="hover" data-bs-placement="right" data-bs-delay= '{ "show": 500 }'
                    title="<%= t '.new_round' %>" data-bs-content="<%= t '.header_flash' %>">
                    <br class="small-font"><i><%= t '.file_warning' %></i>
                  </div>
                  <%# CSV Delimiter and File Input %>
                  <div class="one-liner">
                    <%= label_tag t '.delimiter' %>
                    <%= text_field_tag :delimiter, params[:delimiter] || ",", size: 1 %>&nbsp;&nbsp;&nbsp;&nbsp;
                    <%= f.file_field :csv_file, accept: 'text/csv' %>
                  </div>

                  <%# League Start Date: Tournament start date %>
                  <br><%= t '.league_start' %>
                  <%# Proposed league_start: current round league_start %>
                  <%= f.date_field(:league_start, value: @current_round.league_start ) %>
                </div>

                <%# Round Date Fields: Start and end dates for the new round %>
                <div class="one-liner">
                  <%# Calculate proposed dates based on current round %>
                  <% enddate = @current_round.end_date + 1 %>
                  <%# Calculate current round's duration in months %>
                  <% duration = ((enddate - @current_round.start_date).to_f / 365 * 12).round %>

                  <%# Start Date: Proposed as current end_date + 1 day, minimum: end_date + 1 day %>
                  <%= t '.start_date' %>
                  <%= f.date_field(:start_date, value: enddate, min: enddate ) %>

                  <%# End Date: Proposed as current end_date + duration in months, minimum: end_date + 1 month %>
                  <%= t '.end_date' %>
                  <%= f.date_field(:end_date, value: (enddate >> duration) - 1, min: (enddate >> 1) - 1 ) %>
                </div><br>

                <%# Hidden Field: Store club ID %>
                <%= hidden_field_tag(:club_id, @current_round.club_id) %>

                <%# Form Actions: Submit to create round or go back %>
                <div class="one-liner">
                  <%= f.submit t(".create_round_btn"), class: "btn btn-shape btn-green" %>
                  <%= link_to "Back", boxes_path(round_id: @current_round.id, club_id: @current_round.club_id), class: "btn btn-shape btn-yellow" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
