<!-- in table or list view: display first section of the view -->
<% if !@is_mobile %><br><% end %>
<div class="one-liner" style="width: 100%">
  <% message = "#{current_user.role.capitalize} <b>#{(render "shared/fullname", user: current_user).strip}</b>,<br />" %>
  <% if current_user.role != "player" %>
    <% message += "#{t(".pop01_a")}#{current_user == @admin ? "#{t(".pop01_b")}" : ""}" %>
  <% else %>
    <% message += "#{t(".pop02_html")}" %>
  <% end %>
  <div data-controller="popover" data-bs-html="true" data-bs-toggle="popover"
      data-bs-trigger="hover" data-bs-placement="bottom" data-html="true" data-bs-delay= '{ "show": 500 }'
      data-bs-content="<%= message %>">
    <h3><%= "Box #{box.box_number} - #{view_type}" %></h3>
  </div>

  <span class="will-print"><%= image_tag "tennis_racket.png", alt: "Tennis racket", width: 50 %> LeagueBox ©</span>
</div>
<div class="one-liner">
  <h4><%= render "shared/display_club", round: box.round,
      add_text: @this_is_my_box ? "#{render "shared/fullname", user: current_user} (#{t '.my_current_box'})" : "" %>
  </h4>
</div>
<div class="dont-print">
  <% if @this_is_my_box %>
    <%= link_to t(".my_scores_btn"), my_scores_path(box), class: "btn buttons-shape btn-orange mb-3" %>
  <% end %>

  <% case view_type %>
    <% when t("boxes.table_view") %>
      <%# if in table view, link back to list view %>
      <%= link_to box_list_path, class: "btn buttons-shape btn-yellow mb-3" do %>
        <i class="fa-regular fa-list"></i><%= " #{t("boxes.switch")} #{t("boxes.list_view")}" %>
      <% end %>
    <% else %>
      <%# if in list view, link back to table view %>
      <%= link_to box_path, class: "btn buttons-shape btn-yellow mb-3" do %>
        <i class="fa-solid fa-table-cells"></i><%= " #{t("boxes.switch")} #{t("boxes.table_view")}" %>
      <% end %>
  <% end %>
  <%= link_to t('.all_boxes_link'), boxes_path(round_id: @round.id, club_id: @round.club_id), class: "btn buttons-shape btn-yellow mb-3" %>
  <%= link_to t('print_btn'), '#', :onclick => 'window.print();return false;', class: "btn buttons-shape btn-green mb-3 dont-print"%>
  <% if @page_from %>
    <% parameters = "?club_id=#{@round.club_id}" %>
    <% if params[:round_id] %>
      <% parameters += "&round_id=#{@round.id}" %>
    <% elsif params[:league_start] %>
      <% parameters += "&league_start=#{params[:league_start]}" %>
    <% end %>
    <%= link_to t('back_btn'), @page_from+parameters, class: "btn buttons-shape btn-green mb-3 dont-print text-size" %>
  <% end %>
</div>
