<%# match played (table view) %>
<% match = player_match[0]
opponent = player_match[1]
user_score = player_match[2]
opponent_score = player_match[3]
if match %>
  <div class="click-cell">
    <%# match played display %>
    <%= render "match_score", user_score: user_score, opponent_score: opponent_score %>
    <%= "#{l(match.time, format: :wwwddmmm_date)}" %>
    <br><%= "#{line_player.last_name}: " %><%= t("pts", count: user_score.points) %>
    <span class=" color-tennis-blue">
      <br><%= "#{opponent.last_name}: " %><%= t("pts", count: opponent_score.points) %>
    </span>
    <%# match played links %>
    <% if current_user.role != "player" %>
      <%# admin, referee: click on player match line to update/delete match score (matches and user_match_scores details) %>
      <%= link_to '', edit_match_path(match_id: match.id, page_from: page_from, id: match.box_id), class: "line-link" %>
    <% else %>
      <%# player: click on player match line to view match score %>
      <%= link_to '', match_path(player: line_player.id, opponent: opponent.id, match_id: match.id, page_from: page_from, id: match.box_id), class: "box-link" %>
    <% end %>
  </div>
<% elsif opponent == line_player %>
  <%= image_tag "box_league_racket.png", alt: "Tennis racket", width: @is_mobile ? 25 : 50 %>
<% end %>
