<!-- match line (list view) -->
<% match = player_match[0]
  opponent = player_match[1]
  user_score = player_match[2]
  opponent_score = player_match[3] %>
<% if match
    name = "Score"
    score_input_by = User.find(user_score.input_user_id)
    input_date = @tz.to_local(user_score.input_date)
    message = "#{t(".pop01",
                  user: "#{render "shared/fullname", user: score_input_by} (#{score_input_by.role})",
                  date: l(input_date, format: :wwwddmmmyy_at_hhmm))}"
    if current_user.role != "player"
      message += "#{t(".pop02")}"
    end %>
  <div data-controller="popover" data-bs-html="true" data-bs-toggle="popover"
      data-bs-trigger="hover" data-bs-placement="bottom" data-html="true" data-bs-delay= '{ "show": 500 }'
      data-bs-content="<%= message %>">
    <li>
      <div class="row hovered-payer">
        <div class="col-4">
          <%= "#{user_score.is_winner ? t(".won") : t(".lost")}" %>
          <i>vs</i>
          <span class="color-tennis-blue">
            <%= render "shared/fullname", user: opponent %>
            <%= "(# #{user_box_score.box.user_box_scores.find_by(user_id: opponent.id).rank})" %>
          </span>
          <% match_time = @tz.to_local(match.time) %>
          <%= " #{t(".on_date")} #{l(match_time, format: :wwwddmmm_date)}" %>
        </div>
        <div class="col-2"><%= render "match_score", user_score: user_score, opponent_score: opponent_score %></div>
        <div class="col-2"><%= t("pts", count: user_score.points) %></div>
        <div class="col-2 color-tennis-blue"><%= t("pts", count: opponent_score.points) %></div>
        <div class="col-2 color-tennis-blue"><%= t("pts", count: user_box_score.box.user_box_scores.find_by(user_id: opponent.id).points) %></div>

        <% if current_user.role != "player" %>
          <%# admin, referee: click on player match line to update/delete match score (matches and user_match_scores details) %>
          <%= link_to '', edit_match_path(match_id: match.id, page_from: page_from), class: "line-link" %>
        <% else %>
          <%# player: click on player match line to view match score %>
          <%= link_to '', match_path(player: player_match[2].user.id, opponent: opponent.id, match_id: match.id, page_from: page_from), class: "box-link" %>
        <% end %>

      </div>
    </li>
  </div>
<% end %>
