<div class="row bold-font top-bottom-padding left-padding">
  <!-- show list headers -->
  <div class="col-4">
    <div class="<%=class_names( "col-12 bold-font", "color-tennis-red": @this_is_my_box, "color-green": !@this_is_my_box)%>">
      <%= "Box #{@box.box_number}".upcase %>
    </div>
  </div>
  <div class="col-2"><%= t '.match_score_header' %></div>
  <% case page_from %>
    <% when box_list_path %>
      <div class="col-2" data-controller="popover" data-bs-html="true" data-bs-toggle="popover"
          data-bs-trigger="hover" data-bs-placement="right" data-bs-delay= '{ "show": 500 }'
          title="<%= t '.match_earnings' %>" data-bs-content="<%= t '.points_pop' %>">
        <%= t '.player_points_header' %>
      </div>
    <% else %>
      <div class="col-2"><%= t '.player_points_header' %></div>
  <% end %>
  <div class="col-2 color-tennis-blue"><%= t '.opponent_points_header' %></div>
  <div class="col-2 color-tennis-blue"><%= t '.opponent_total_points_header' %></div>
</div>
