<div class="container">
  <h3>List of boxes</h3>
  <%= render "shared/set_club_and_round", path: boxes_path %>
  <% if @round %>
    <h4><%= @club.name %></h4>
    <div class="boxes">
      <% @boxes.each do |box| %>
        <div class="box">
          <div class="box-title"><strong><%= "Box #{box.box_number}" %></strong></div>
          <ol type="1">
            <% scores = box.user_box_scores.sort { |a, b| b.points <=> a.points } %>
            <% scores.each do |user_box_score| %>
              <li style=<%=user_box_score.user == current_user ? "color:blue" : ""%>>
                <%= render "fullname", user: user_box_score.user %> : <%= pluralize user_box_score.points, "point" %>
              </li>
              <% if current_user && (current_user.role == "admin" || current_user.role == "manager") %>
                <%= link_to '', box_manager_path(user_box_score.box), class: "box-link" %>
              <% else %>
                <%= link_to '', box_path(user_box_score.box), class: 'box-link'%>
              <% end %>
            <% end %>
          </ol>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
