<!-- list of all boxes -->
<div class="<%= class_names("text-size", "container": !@is_mobile) %>">
  <% if !@is_mobile %><br><% end %>
  <div class="one-liner">
    <h3><%= t '.all_box_title' %></h3>
    <span class="will-print"><%= image_tag "tennis_racket.png", alt: "Tennis racket", width: 50 %> LeagueBox ©</span>
  </div>
  <% if @round %>
    <div class = "one-liner">
      <h4><%= render "shared/display_club", round: @round, fallback_path: boxes_path, add_text: "" %></h4>
      <div>
        <% if current_user && current_user.role != "player" %>
          <%= link_to t('.to_csv_btn'), csv_boxes_path(round_id: @round.id), class: "btn buttons-shape btn-green dont-print mb-3" %>
        <% end %>
        <%= link_to t('print_btn'), '#', :onclick => 'window.print();return false;', class: "btn buttons-shape btn-green dont-print mb-3"%>
        <%= render 'shared/stats' %>
      </div>
      <%= render "shared/select_round", fallback_path: boxes_path %>
    </div>
    <div data-controller="popover" data-bs-html="true" data-bs-toggle="popover"
        data-bs-trigger="hover" data-bs-placement="right" data-bs-delay= '{"show": 1000}'
        data-bs-content="<%= t '.message_box_pop' %>">
      <div class="boxes print-all-content print-boxes-league box-scroller">
        <% @boxes.each do |box| %>
          <div class="<%=class_names( "box-frame small-font", "color-tennis-aqua": box == @my_current_box) %>">
            <div class="<%=class_names( "box-title", "color-tennis-red": box == @my_box) %>"><strong><%= "Box #{box.box_number} #{t('.my_current_box') if box == @my_current_box}" %></strong></div>
            <ol type="1">
              <% scores = box.user_box_scores.sort { |a, b| a.rank <=> b.rank } %>
              <% scores.each do |user_box_score| %>
                <li class=<%=user_box_score.user == current_user ? "color-orange" : "" %>>
                  <div class="row">
                    <div class="col-6"><%= render "shared/fullname", user: user_box_score.user %></div>
                    <div class="col-2"><%= "##{user_box_score.rank}" %></div>
                    <div class="<%= class_names("col-1", "color-tennis-red": user_box_score.matches_played.zero?) %>"><%= "#{user_box_score.matches_played}" %></div>
                    <div class="col-3"><%= t("pts", count: user_box_score.points) %></div>
                  </div>
                </li>
                <%= link_to '', box_path(user_box_score.box, page_from: boxes_path), class: 'box-link' %>
              <% end %>
            </ol>
          </div>
        <% end %>
      </div>
    </div>

    <div class="buttons-wrap dont-print">
      <% if current_user == @admin %>
        <%= link_to "load_scores", load_scores_path(round_id: @round.id), class: "btn buttons-shape btn-aqua" %>
      <% end %>
      <% if current_user && current_user.role == "admin" && @new_round_required %>
          <!-- allow referee/admin to create next round up to 15 days before or 300 days after end of last round
          TO DO: add a time related condition here for the button to appear -->
          <%= link_to t(".create_round_btn"), new_round_path(club_id: @round.club_id), class: "btn buttons-shape btn-aqua" %>
      <%# elsif current_user && (current_user.role == "referee" || current_user.role == "player referee") && @new_round_request%>
      <% elsif current_user && (["referee", "player referee"].include?(current_user.role)) && @new_round_request%>
          <%= link_to t(".request_round_btn"), new_contact_path(round_id: @round.id), class: "btn buttons-shape btn-aqua" %>
      <% end %>
    </div>
  <% else %>
    <div class="dont-print">
      <!-- if no round selected, invoke forms to select a club (admin only) and a round -->
      <%= render "shared/select_club_round", fallback_path: boxes_path, explain_paragraph: t(".intro") %>
    </div>
  <% end %>
</div>
