<!-- list of all boxes in compact view -->
<div class="<%= class_names("text-size", "container": !@is_mobile) %>">
  <% if !@is_mobile %><br><% end %>
  <div class="one-liner">
    <h3><%= t '.all_box_title' %></h3>
    <span class="will-print"><%= image_tag "box_league_racket.png", alt: "Tennis racket", width: 50 %> LeagueBox ©</span>
  </div>
  <% if @round %>
    <div class = "<%= class_names("one-liner": !@is_mobile) %>">
      <!-- <h4><%= render "shared/display_club", round: @round, fallback_path: boxes_path %></h4> -->
      <%= render "shared/select_club", fallback_path: boxes_path %>
      <%= render "shared/select_round", fallback_path: boxes_path %>
      <div>
        <%= render 'shared/stats' %>
        <% clear_format = current_user.preference ? (current_user.preference.clear_format.eql?(true) ? "1" : "0") : "0" %>
        <%= link_to t('.open_view_btn'), index_expanded_path(round_id: @round.id, club_id: @round.club_id, clear_format: clear_format), class: "btn buttons-shape btn-yellow dont-print mb-3" %>
        <%= link_to t('.round_ranking_btn'), user_box_scores_path(round_id: @round.id, club_id: @round.club_id), class: "btn buttons-shape btn-yellow dont-print mb-3" %>
      </div>
    </div>
    <div data-controller="popover" data-bs-html="true" data-bs-toggle="popover"
        data-bs-trigger="hover" data-bs-placement="right" data-bs-delay= '{"show": 1000}'
        data-bs-content="<%= t '.message_box_pop' %>">
      <div class="boxes print-all-content print-boxes-league box-scroller">
        <% @boxes.each do |box| %>
          <div class="<%=class_names( "box-frame small-font", "color-tennis-aqua": box == @my_current_box) %>">
            <div class="<%=class_names( "box-title", "color-tennis-red": box == @my_box) %>"><strong>
              <%= "Box #{box.box_number} #{box == @my_current_box ? t('.my_current_box') : t('.my_box') if box == @my_box }" %>
            </strong></div>
            <ol type="1">
              <% scores = box.user_box_scores.sort { |a, b| a.rank <=> b.rank } %>
              <% scores.each do |user_box_score| %>
                <li class=<%=user_box_score.user == current_user ? "color-orange" : "" %>>
                  <div class="row">
                    <div class="col-6"><%= render "shared/fullname", user: user_box_score.user %></div>
                    <div class="col-2"><%= "##{user_box_score.rank}" %></div>
                    <div class="<%= class_names("col-1", "color-tennis-red": user_box_score.matches_played.zero?) %>"><%= "#{user_box_score.matches_played}" %></div>
                    <div class="col-3"><%= t("pts", count: user_box_score.points) %></div>
                  </div>
                </li>
                <%# link_to '', box_path(user_box_score.box, page_from: boxes_path), class: 'box-link' %>
              <% end %>
            </ol>
            <%= link_to '', box_path(box, page_from: boxes_path), class: 'box-link' %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="buttons-wrap dont-print">
      <% if current_user && current_user.role != "player" %>
        <span data-controller="popover" data-bs-html="true" data-bs-toggle="popover"
            data-bs-trigger="hover" data-bs-placement="right" data-bs-delay= '{"show": 1000}'
            data-bs-content="<%= t '.message_csv_pop' %>">
          <%= link_to t('.to_csv_btn'), csv_boxes_path(round_id: @round.id), class: "btn buttons-shape btn-green dont-print me-3" %>
        </span>
      <% end %>
      <%= link_to t('print_btn'), '#', :onclick => 'window.print();return false;', class: "btn buttons-shape btn-green dont-print me-3"%>
      <% if current_user == @admin %>
        <%= link_to t(".load_scores"), load_scores_path(round_id: @round.id), class: "btn buttons-shape btn-aqua me-3" %>
      <% end %>
      <% if current_user && current_user.role == "admin" && @new_round_required %>
          <%# allow referee/admin to create next round up to 15 days before or 300 days after end of last round
          time related condition embedded in @new_round_required %>
          <%= link_to t(".create_round_btn"), new_round_path(club_id: @round.club_id), class: "btn buttons-shape btn-aqua" %>
      <% elsif current_user && (["referee", "player referee"].include?(current_user.role)) && @new_round_request%>
          <%= link_to t(".request_round_btn"), new_contact_path(round_id: @round.id), class: "btn buttons-shape btn-aqua" %>
      <% end %>
    </div>
  <% else %>
    <div class="dont-print">
      <%# if no round selected, invoke forms to select a club (admin only) and a round %>
      <%= render "shared/select_club_round", fallback_path: boxes_path, explain_paragraph: t(".intro") %>
    </div>
  <% end %>
</div>
