<!-- list of all boxes -->
<div class="container">
  <h3>View all boxes</h3>
  <!-- select club and round in forms -->
  <%= render "shared/select_club_round", fallback_path: boxes_path, intro_paragraph: @intro_paragraph %>
  <% if @round %>
    <div data-controller="popover" data-bs-html="true" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="bottom" data-bs-content="Click on a box to view match details">
      <%= render "shared/display_club_round", round: @round %>
    </div>
    <div data-controller="popover" data-bs-html="true" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right" data-bs-content="<%= @message_boxes %>">
      <div class="boxes">
        <% @boxes.each do |box| %>
          <div class="box small-font">
            <div class="box-title"><strong><%= "Box #{box.box_number}" %></strong></div>
            <ol type="1">
              <% scores = box.user_box_scores.sort { |a, b| a.rank <=> b.rank } %>
              <% scores.each do |user_box_score| %>
                <li class=<%=user_box_score.user == current_user ? "color-orange" : ""%>><div class="row">
                  <div class="col-6"><%= render "shared/fullname", user: user_box_score.user %></div>
                  <div class="col-2"><%= "##{user_box_score.rank}" %></div>
                  <div class="col-1 <%=user_box_score.games_played.zero? ? "color-tennis-red" : ""%>"><%= "#{user_box_score.games_played}" %></div>
                  <div class="col-3"><%= pluralize user_box_score.points, "pt" %></div>
                </div></li>
                <% if current_user && (current_user.role == "admin" || current_user.role == "referee") %>
                  <%= link_to '', box_referee_path(user_box_score.box, page_from: boxes_path), class: "box-link" %>
                <% else %>
                  <%= link_to '', box_path(user_box_score.box, page_from: boxes_path), class: 'box-link'%>
                <% end %>
              <% end %>
            </ol>
          </div>
        <% end %>
      </div>
    </div>

    <% if current_user && current_user.role == "admin" %>
      <div class="buttons-wrap">
        <!-- allow referee/admin to create next round up to 15 days before or 300 days after end of last round -->
        <%= link_to "Create the next round", new_round_path(club_id: @round.club_id), class: "btn buttons-shape btn-aqua" %>
      </div>
    <% end %>
  <% end %>
</div>
