<%# player page to view match results, enter new scores %>
<div class="container">
  <h3>My box results</h3>
  <% if @box %>
    <% @round = @box.round %>
  <% else %>
    <%= render "shared/set_club_and_round", fallback_path: manage_my_box_path %>
  <% end %>
  <% if @round %>
    <%= render "shared/round", round: @round %>
    <% if @user_not_in_round %>
      <br><br><h4><%= render "shared/fullname", user: @current_player %><%= " you are not in this round!" %></h4>
    <% else %>
      <br><br>
    <div class="same-line">
      <div><h4><%= render "shared/fullname", user: @current_player %><%= " - box #{@box.box_number}" %></h4></div>
      <div></div>
      <div><%= "Select an action" %></div>
      <div></div>
    </div>
      <div class="frame-shape players frame-padding">
        <h4>My box: view or enter match scores</h4>
        <%# open forms to chose club and round %>
        <h6>
          <div class="row justify-content-center text-padding font-bold">
            <div class="col-sm-3">Player</div>
            <div class="col-sm-2">Total points</div>
            <div class="col-sm-2">Match played on</div>
            <div class="col-sm-3">Action</div>
          </div>
        </h6>
        <% @my_games.each do |my_game| %>
          <% opponent = my_game[0].user %>
          <% match = my_game[1] %>

          <div class="row justify-content-center">
            <div class="col-sm-3 text-padding">
              <% opponent_name = "#{render "shared/fullname", user: opponent}" %>
              <% message = "ðŸ“ž #{opponent.phone_number}<br />âœ‰ï¸ #{opponent.email}" %>
              <div class="mb-4" data-controller="popover" data-bs-html="true" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="bottom" title="<%= opponent_name %>" data-bs-content="<%= message %>">
                <span style=<%=opponent == @current_player ? "color:green" : "" %>>
                  <%# link_to "#{render "shared/fullname", user: opponent}", "", class: "btn button-ghost", :title => message  %>
                  <%= "#{render "shared/fullname", user: opponent}" %>
                </span>
              </div>
            </div>
            <div class="col-sm-2 text-padding">
                <%= pluralize my_game[0].points, "pt" %>
            </div>
            <div class="col-sm-2 text-padding">
              <% if match && opponent != @current_player %>
                <%= "#{match.time.strftime("%a %-d %h %y")}" %>
              <% end %>
            </div>
            <div class="col-sm-3">
              <% if opponent == @current_player %>
                <%= link_to "Display my box", box_list_path(@box), class: "btn buttons-shape btn-blue" %>
              <% elsif match %>
                <%= link_to "See match results", match_path(:user_id => opponent.id, :match_id => match.id), class: "btn button-ghost" %>
              <% else %>
                <%= link_to "Enter new score", new_match_path(round_id: @round.id, opponent_id: opponent.id), class: "btn button-ghost" %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    <br>
    <div class="buttons-wrap">
    <% if @page_from %>
      <% parameters = "?round_start=#{@box.round.start_date}&club_name=#{@box.round.club.name}" %>
      <%= link_to "Back", @page_from+parameters, class: "btn buttons-shape btn-blue" %>
    <% else %>
      <%= link_to "Back", "javascript:history.back()", class: "btn buttons-shape btn-blue" %>
    <% end %>
    </div>
  <% end %>
</div>
