<div class="container">
  <br><h3><%= render "fullname", user: current_user %><%= " - Box #{@box.box_number}" %></h3>
  <div class="form-wrap">
    <h4>My box results</h4>
    <ul>
      <% @user_matches = @user_matches.sort { |a, b| b[0].points <=> a[0].points } %>
      <% @user_matches.each do |user_match| %>
        <% user = user_match[0].user %>
        <% match = user_match[1] %>

        <li>
          <span style=<%=user == current_user ? "color:blue" : "" %>><%= render "fullname", user: user %></span>
          <% if match %>
            : <%= pluralize user_match[0].points, "point" %>
          <% end %>
          <% if user == current_user %>
            <%= link_to "Back to all boxes", boxes_path, class: "btn button-ghost" %>
          <% elsif match %>
            <%= " (played on #{match.time.strftime("%d/%m/%Y")})" %>
            <%= link_to "See my results", match_path(:user_id => user.id, :match_id => match.id), class: "btn button-ghost" %>
          <% else %>
            : <%= link_to "Enter new results", new_match_path(:user_id => user.id), class: "btn button-ghost" %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <br>
  <div class="buttons-wrap">
    <%= link_to "Back", box_path(@box), class: "btn button-purple" %>
  </div>
</div>
