<div class="container">
  <br><h3><%= render "fullname", user: current_user %><%= " - box #{@box.box_number}" %></h3>
  <div class="form-wrap players">
    <h4>View / enter match scores</h4>

    <ul>
      <div class="row justify-content-center text-padding">
        <div class="col-sm-3">Player</div>
        <div class="col-sm-2">Points</div>
        <div class="col-sm-2">Played on</div>
        <div class="col-sm-3 left-padding">Action</div>
      </div>
      <% @user_matches = @user_matches.sort { |a, b| b[0].points <=> a[0].points } %>
      <% @user_matches.each do |user_match| %>
        <% user = user_match[0].user %>
        <% match = user_match[1] %>

        <div class="row justify-content-center">
          <div class="col-sm-3">
            <% message = "Contact\n#{render "fullname", user: user}#{user.phone_number}\n#{user.email}" %>
            <span style=<%=user == current_user ? "color:blue" : "" %>>
            <%= link_to "#{render "fullname", user: user}", "", class: "btn button-ghost", :title => message  %></span>
          </div>
          <div class="col-sm-2 text-padding">
              <%= pluralize user_match[0].points, "pt" %>
          </div>
          <div class="col-sm-2 text-padding">
            <% if match && user != current_user %>
              <%= "#{match.time.strftime("%d/%m/%Y")}" %>
            <% end %>
          </div>
          <div class="col-sm-3">
            <% if user == current_user %>
              <%= link_to "View all boxes", boxes_path, class: "btn button-ghost" %>
            <% elsif match %>
              <%= link_to "View match score", match_path(:user_id => user.id, :match_id => match.id), class: "btn button-ghost" %>
            <% else %>
              <%= link_to "Enter new score", new_match_path(:user_id => user.id), class: "btn button-ghost" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </ul>
  </div>
  <br>
  <div class="buttons-wrap">
    <%= link_to "Back", "javascript:history.back()", class: "btn button-purple" %>
  </div>
</div>
