<!-- show page of matches in table display -->
<div class="<%= class_names("text-size", "container": !@is_mobile) %>">
  <% if @box %>
    <%= render "intro_lines", box: @box, view_type: t("boxes.table_view") %>
    <%= render "grid_view", box: @box, is_this_my_box: @is_this_my_box, box_matches: @box_matches, page_from: box_path(@box) %>
    <br>
  <% else %>
    <h3><%= t("boxes.table_view").capitalize %></h3><br>
    <%= render "explain_page", explain_paragraph: t(".intro_html") %>
  <% end %>
</div>
