<div class="container">
  <br><h3>
    <%= "Box #{@box.box_number}" %>
    <% if current_user.user_box_scores[0].box == @box %>(<%= render "fullname", user: current_user %>)<% end %>
  </h3>
  <div class = "form-wrap">
    <h4>Match results (list view)</h4>
    <ul>
      <% @box_matches.each do |user_box_matches| %>
        <li>
          <% user_box_score = user_box_matches[0] %>
          <% player = user_box_score.user %>
          <span style=<%=user_box_matches[0].user == current_user ? "color:blue" : ""%>>
            <%= render "fullname", user: player %> : <%= pluralize user_box_score.points, "point" %>
          </span>

          <% player_matches = user_box_matches[1] %>
          <% if user_box_matches[0].user == current_user %>
            <%= link_to "Enter/view my match results", mybox_path(current_user.user_box_scores[0].box), class: "btn button-ghost" %>
          <% end %>
          <ul>
            <% player_matches.each do |player_match| %>
              <% match = player_match[0] %>
              <% opponent = player_match[1] %>
              <% user_score = player_match[2] %>
              <% opponent_score = player_match[3] %>
              <% if match %>
                <li><%= "#{user_score.is_winner ? "Won" : "Lost"} on #{match.time.strftime("%d/%m/%Y")}" %> vs <%= render "fullname", user: opponent %> :
                <%= render "score", user_score: user_score, opponent_score: opponent_score %>
                [<%= pluralize user_score.points, "point" %>]</li>
              <% end %>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
  <br>
  <div class="buttons-wrap">
    <%= link_to "Back", boxes_path, class: "btn button-purple" %>
    <%= link_to "View grid", box_path, class: "btn button-purple" %>
  </div>
</div>
