<!-- admin/referee show page by list of matches, allows to edit, delete score, input new score (admin only) -->
<div class="container text-size" data-controller="toggle">
  <% if current_user.role != "player" %>
    <% view_types = [t("boxes.referee_view"), t("boxes.table_view")]  %>
    <%= render "intro_lines", box: @box, view_types: view_types %>
    <%= @round.start_date %><%= @club.name %>
    <div class = "frame-color-shape frame-padding frame-scroller-wrap">
      <%#div class="box-width row"%>
      <div class="<%=class_names( "row",
                                  "mobile-box-width mobile-text-size": @is_mobile,
                                  "box-width": !@is_mobile)%>">
        <%= render "show_lr_headers", view: "referee" %>
        <%= render "show_lr_data", view: "referee" %>
      </div>
    </div>
  <% else %>
    <br><br><%= t '.not_authorised' %>
  <% end %>
</div>
