<%# admin/referee show page by list of matches, allows to edit, delete score, input new score (admin only) %>
<div class="container">
  <% if current_user.role == "player" %>
  <br><br><%= "As a player, this page is not authorised" %>
  <% else %>
    <br><%= render "shared/club_round", round: @box.round %>

    <p>
      <%= "#{@current_user.role.capitalize} " %><strong><%= (render "shared/fullname", user: current_user).strip %></strong>,
      <% admin_message = current_user == @admin ? ", or enter new score" : "" %>
      <%="select a match to edit or delete the score#{admin_message}."%>
    </p>
    <div class = "form-wrap">
      <div class="row font-bold">
        <div class="col-sm-4"></div>
        <div class="col-sm-2">Match scores</div>
        <div class="col-sm-2">Player match points</div>
        <div class="col-sm-2 text-color-grey">Opponent match points</div>
        <div class="col-sm-2 text-color-grey">Opponent's ranking</div>
      </div>
      <ul>
        <% sorted_players = @box_matches.map { |x| x[2]} %>
        <% @box_matches.each do |user_box_matches| %>
          <li>
            <% user_box_score = user_box_matches[0] %>
            <% player = user_box_matches[2] %>
            <div class="text-paddings">
              <span style=<%=user_box_matches[0].user == current_user ? "color:blue" : ""%>><%= render "shared/fullname", user: player %><%= "(# #{user_box_score.rank})" %> : <%= pluralize user_box_score.points, "point" %></span>
              <% player_matches = user_box_matches[1] %>
            </div>
            <ul>
              <% sorted_players.each do |player_opponent| %>
                <% player_match = player_matches.select { |x| x[1] == player_opponent }[0] %>
                  <% if player_match %>
                    <% match = player_match[0] %>
                    <% opponent = player_match[1] %>
                    <% user_score = player_match[2] %>
                    <% opponent_score = player_match[3] %>
                    <% if match %>
                      <li>
                        <% name = "Edit/delete score" %>
                        <% score_input_by = User.find(user_score.input_user_id) %>
                        <% message = "submitted by #{score_input_by.role} #{render "shared/fullname", user: score_input_by}<br /> on #{user_score.input_date.strftime("%d %b %Y")} #{user_score.input_date.strftime("%I:%M %p")}" %>
                        <div data-controller="popover" data-bs-html="true" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="bottom" data-html="true" title="<%= name %>" data-bs-content="<%= message %>">
                          <div class="row player-name">
                            <div class="col-sm-4"><%= "#{user_score.is_winner ? "Won" : "Lost"} on #{match.time.strftime("%d %b")}" %> vs <%= render "shared/fullname", user: opponent %></div>
                            <div class="col-sm-2"><%= render "shared/score", user_score: user_score, opponent_score: opponent_score %></div>
                            <div class="col-sm-2"><%= pluralize user_score.points, "pt" %></div>
                            <div class="col-sm-2 text-color-grey"><%= pluralize opponent_score.points, "pt" %></div>
                            <div class="col-sm-2 text-color-grey"><%= "# #{user_box_score.box.user_box_scores.find_by(user_id: opponent.id).rank}" %></div>
                            <%# click on player line to update/delete match and user_match_scores details %>
                            <%= link_to '', edit_match_path(match_id: match.id), class: "line-link" %>
                          </div>
                        </div>
                      </li>
                    <% end %>
                  <% elsif player_opponent != player%>
                    <li><div class="row player-name text-color-grey">
                      <div class="col-sm-4"><%= render "shared/fullname", user: player_opponent %>: <%= "not played" %></div>
                      <% if current_user == @admin %>
                        <% name = "Enter new score for" %>
                        <% message = "match between #{render "shared/fullname", user: player}<br /> and #{render "shared/fullname", user: player_opponent}" %>
                        <div data-controller="popover" data-bs-html="true" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="bottom" data-html="true" title="<%= name %>" data-bs-content="<%= message %>">
                          <%# click on opponent line to enter new match score %>
                          <%= link_to '', new_match_path(round_id: @box.round.id, opponent_id: player_opponent.id, player_id: player.id), class: "line-link" %>
                        </div>
                      <% end %>
                    </div></li>
                  <% end %>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div class="buttons-wrap">
  <% if @page_from %>
    <% parameters = "?round_start=#{@box.round.start_date}&club_name=#{@box.round.club.name}" %>
    <%= link_to "Back", @page_from+parameters, class: "btn button-flat-grey" %>
  <% else %>
    <%= link_to "Back", "javascript:history.back()", class: "btn button-flat-grey" %>
  <% end %>
  </div>
</div>
