<div class="container">
  <%= render "intro_lines", box: @box %>
  <h4><%= @club.name %></h4>
  <div class = "form-wrap">
    <div class="row font-bold">
      <div class="col-sm-4"></div>
      <div class="col-sm-2">Match scores</div>
      <div class="col-sm-2">Player's points</div>
      <div class="col-sm-2"><span style="color:grey">Opponent's points</span></div>
      <div class="col-sm-2"><span style="color:grey">Opponent's ranking</span></div>
    </div>
    <ul>
      <% @box_matches.each do |user_box_matches| %>
        <li>
          <% user_box_score = user_box_matches[0] %>
          <% player = user_box_matches[2] %>
          <div class="text-paddings">
            <span style=<%=user_box_matches[0].user == current_user ? "color:blue" : ""%>><%= render "shared/fullname", user: player %><%= "(# #{user_box_score.rank})" %> : <%= pluralize user_box_score.points, "point" %></span>
            <% player_matches = user_box_matches[1] %>
            <% if user_box_matches[0].user == current_user %>
              <%= link_to ">> My results <<", manage_my_box_path(@my_current_box), class: "btn button-ghost" %>
            <% end %>
          </div>
          <ul>
            <% player_matches.each do |player_match| %>
              <% match = player_match[0] %>
              <% opponent = player_match[1] %>
              <% user_score = player_match[2] %>
              <% opponent_score = player_match[3] %>
              <% if match %>
                <li><div class="row">
                  <div class="col-sm-4"><%= "#{user_score.is_winner ? "Won" : "Lost"} on #{match.time.strftime("%d %b")}" %> vs <%= render "shared/fullname", user: opponent %></div>
                  <div class="col-sm-2"><%= render "shared/score", user_score: user_score, opponent_score: opponent_score %></div>
                  <div class="col-sm-2"><%= pluralize user_score.points, "pt" %></div>
                  <div class="col-sm-2 text-color-grey"><%= pluralize opponent_score.points, "pt" %></div>
                  <div class="col-sm-2 text-color-grey"><%= "#{user_box_score.box.user_box_scores.find_by(user_id: opponent.id).rank}" %></div>
                </div></li>
              <% end %>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
  <br>
  <div class="buttons-wrap">
    <%= link_to "Back", "javascript:history.back()", class: "btn button-flat" %>

    <% if @box == @my_current_box %>
      <%= link_to "Enter new results", manage_my_box_path(@my_current_box), class: "btn button-flat" %>
    <% else %>
      <%= link_to "My current box", box_list_path(@my_current_box), class: "btn button-flat" %>
    <% end %>

    <%= link_to "Grid view", box_path, class: "btn button-flat" %>
  </div>
</div>
