<!-- admin/referee show page by list of matches, allows to edit, delete score, input new score (admin only) -->
<div class="container">
  <% if current_user.role == "player" %>
    <br><br><%= "As a player, this page is not authorised" %>
  <% else %>
    <br>
    <% message = "#{current_user.role.capitalize} <strong>#{(render "shared/fullname", user: current_user).strip}</strong>,<br />" %>
    <% message += "select a match to edit or delete the score#{current_user == @admin ? ", or input a new score" : ""}" %>
    <div data-controller="popover" data-bs-html="true" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="bottom" data-html="true" data-bs-content="<%= message %>">
      <%= render "intro_lines", box: @box, view_type: "referee" %>
    </div>
    <div class="same-line">
      <div><%= render "shared/display_club_round", round: @box.round %></div>
    </div>

    <div class = "frame-shape frame-padding text-size">
      <div class="row font-bold text-padding sticky-header">
        <div class="col-sm-4"></div>
        <div class="col-sm-2">Match score</div>
        <div class="col-sm-2">Player's points</div>
        <div class="col-sm-2 color-tennis-blue">Opponent's points</div>
        <div class="col-sm-2 color-tennis-blue">Opponent total points</div>
      </div>
      <ul>
        <% sorted_players = @box_matches.map { |bm| bm[2]} %>
        <% @box_matches.each do |user_box_matches| %>
          <li>
            <% user_box_score = user_box_matches[0] %>
            <% player = user_box_matches[2] %>
            <div class="text-paddings">
              <%= render "shared/fullname", user: player %><%= "(# #{user_box_score.rank})" %> : <%= pluralize user_box_score.points, "point" %>
              <% player_matches = user_box_matches[1] %>
            </div>
            <ul>
              <% sorted_players.each do |player_opponent| %>
                <% player_match = player_matches.select { |pm| pm[1] == player_opponent }[0] %>
                  <% if player_match %>
                    <% match = player_match[0] %>
                    <% opponent = player_match[1] %>
                    <% user_score = player_match[2] %>
                    <% opponent_score = player_match[3] %>
                    <% if match %>
                      <li>
                        <% name = "Score" %>
                        <% score_input_by = User.find(user_score.input_user_id) %>
                        <% input_date = @tz.to_local(user_score.input_date) %>
                        <% message = "<strong>Score entered</strong><br />by #{score_input_by.role} #{render "shared/fullname", user: score_input_by}<br /> on #{input_date.strftime("%a %-d %b %y")} at #{input_date.strftime("%H:%M")}" %>
                        <div data-controller="popover" data-bs-html="true" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="bottom" data-html="true" data-bs-content="<%= message %>">
                          <div class="row player-name">
                            <div class="col-sm-4">
                              <% match_time = @tz.to_local(match.time) %>
                              <%= "#{user_score.is_winner ? "Won" : "Lost"} on #{match_time.strftime("%d %b")}" %>
                              <span class="color-tennis-blue">
                                <i>vs</i>
                                <%= render "shared/fullname", user: opponent %>
                                <%= "(# #{user_box_score.box.user_box_scores.find_by(user_id: opponent.id).rank})" %>
                              </span>
                            </div>
                            <div class="col-sm-2"><%= render "shared/score", user_score: user_score, opponent_score: opponent_score %></div>
                            <div class="col-sm-2"><%= pluralize user_score.points, "pt" %></div>
                            <div class="col-sm-2 color-tennis-blue"><%= pluralize opponent_score.points, "pt" %></div>
                            <div class="col-sm-2 color-tennis-blue"><%= pluralize user_box_score.box.user_box_scores.find_by(user_id: opponent.id).points, "pt" %></div>
                            <!-- click on player line to update/delete match and user_match_scores details -->
                            <%= link_to '', edit_match_path(match_id: match.id), class: "line-link" %>
                          </div>
                        </div>
                      </li>
                    <% end %>
                  <% elsif player_opponent != player%>
                    <li><div class="row player-name color-tennis-blue">
                      <div class="col-sm-4"><%= render "shared/fullname", user: player_opponent %></div>
                      <div class="col-sm-2"><%= "not played" %></div>
                      <% if current_user == @admin %>
                        <% message = "Click to enter the new match score for<br />#{render "shared/fullname", user: player}<i>vs</i><br />#{render "shared/fullname", user: player_opponent}" %>
                        <div data-controller="popover" data-bs-html="true" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="bottom" data-html="true" data-bs-content="<%= message %>">
                          <!-- click on opponent line to enter new match score -->
                          <%= link_to '', new_match_path(round_id: @box.round.id, opponent_id: player_opponent.id, player_id: player.id), class: "line-link" %>
                        </div>
                      <% end %>
                    </div></li>
                  <% end %>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </div><br>
  <% end %>
  <br>
  <div class="buttons-wrap">
  <% if @page_from %>
    <% parameters = "?round_start=#{@box.round.start_date}&club_name=#{@box.round.club.name}" %>
    <%= link_to "Back", @page_from+parameters, class: "btn buttons-shape btn-blue" %>
  <% else %>
    <%# link_to "Back", "javascript:history.back()", class: "btn buttons-shape btn-blue" %>
    <%= link_to "Back", :back, class: "btn buttons-shape btn-blue" %>
  <% end %>
  </div>
</div>
