<%# partial: navbar %>
<div class="navbar navbar-expand-lg navbar-light navbar-league-box">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "tennis_racket.png" %>
    <% end %>
    <div class="navbar-nav me-auto navbar-out-of-collapse">
      <li class="nav-item time-color top-bottom-padding">
        <%= "#{l(Time.now, format: :wwwddmmm_date)}" %>&nbsp;&nbsp<%= "#{l(Time.now, format: :hhmm_time)}" %>&nbsp;&nbsp
      </li>
      <%# link_to t('.home_link'), root_path, class: "nav-link active" %>
      <%= link_to root_path, class: "nav-link" do %>
        <i class="fa-solid fa-house"></i>
      <% end %>
      <%= render "shared/dropdown_language" %>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item time-color top-bottom-padding">
          <% if user_signed_in? && @round %>
            <%= render "shared/round", round: @round %>
          <% end %>
        </li>
        <li><%= link_to t('.tournament_rules_link'), rules_path, class: "nav-link active" %></li>
        <li><%= link_to t('.club_staff_link'), staff_path, class: "nav-link" %></li>
        <li>
          <% if user_signed_in?%>
            <%= render "shared/dropdown_menu" %>
            <li class="nav-link">
              <%# link_to t('.log_out_link'), destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" do %>
                <i class="fa-solid fa-arrow-right-from-bracket" style="color: #000000;"></i>
              <% end %>
            </li>
          <% else %>
            <%= link_to t('.login_link'), new_user_session_path, class: "nav-link" %>
          <% end %>
        </li>
        <li style="width: 20px"></li>
      </ul>
    </div>
  </div>
</div>
