<div class="text-size contact-wrap">
  <% if from == "pages" %>
    <br><h4><div class="title"><b><%= t(".your_club_staff_title").upcase %></b></div></h4><br>
  <% end %>
  <br><p><%= t '.staff_p01' %></p>
  <p><%= t '.staff_p02_html' %></p>
  <p><%= t '.staff_p03_html' %></p>
</div>
<br>
<div class="frame-no-margin-rl">
  <div class="frame-color-shape grid-wrap text-size ">
    <%#div class="grid-container box-width"%>
    <div class="<%=class_names( "mobile-grid-container mobile-box-width mobile-text-size": @is_mobile,
                                "grid-container box-width": !@is_mobile)%>">
      <div class="row" style="font-weight: bold">
        <div class="col-3"><%= t '.header_role' %></div>
        <div class="col-2"><%= t '.header_name' %></div>
        <div class="col-2"><%= t '.header_club' %></div>
        <div class="col-3"><%= t '.header_email' %></div>
        <div class="col-2"><%= t '.header_phone' %></div>
      </div>
      <div class="row">
        <div class="col-3"><%= t '.website_admin' %></div>
        <div class="col-2"><%= render "shared/fullname", user: @admin%></div>
        <div class="col-2"></div>
        <div class="col-3"><%= "#{@admin.email}" %></div>
        <div class="col-2"><%= "#{@admin.phone_number}" %></div>
      </div>
      <% if current_user == @admin %>
        <% @referees.each do |referee| %>
          <div class="row">
            <div class="col-3"><%= t(".club_referee_html", club_name: referee.club.name) %></div>
            <div class="col-2"><%= render "shared/fullname", user: referee%></div>
            <div class="col-2"><%= "#{referee.club.name}" %></div>
            <div class="col-3"><%= "#{referee.email}" %></div>
            <div class="col-2"><%= "#{referee.phone_number}" %></div>
          </div>
        <% end %>
      <% end %>

      <% if @referee %>
        <!-- defined in application_controller#global_variables if current user is a referee-->
        <div class="row">
          <div class="col-3"><%= "#{@referee.club.name} #{@referee.role.capitalize}" %></div>
          <div class="col-2"><%= render "shared/fullname", user: @referee%></div>
          <div class="col-2"><%= "#{@referee.club.name}" %></div>
          <div class="col-3"><%= "#{@referee.email}" %></div>
          <div class="col-2"><%= "#{@referee.phone_number}" %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
