<!-- partial : rules section 1 (General rules)-->
<h5 class="color-tennis-blue">1.1 <%= t '.overview' %></h5>
  <p><%= t('.p01_html', clubname: current_user == @admin ? t(".club") : @club.name) %></p>
  <p><%= t '.p02_html' %></p>
  <p><%= t '.p03_html' %></p>
<h5 class="color-tennis-blue">1.2 <%= t '.rounds' %></h5>
  <p><%= t '.p04' %></p>
<h5 class="color-tennis-blue">1.3 <%= t '.availability' %></h5>
  <p><%= t '.p05' %></p>
<h5 class="color-tennis-blue">1.4 <%= t '.qualifying_players' %></h5>
  <p><%= t '.p06' %></p>
  <p><%= t('.p07_html', clubname: current_user == @admin ? t(".club") : @club.name) %></p>
  <p><%= t '.p08' %></p>

<h5 class="color-tennis-blue">1.5 <%= t '.box_design' %></h5>
  <p><%= t '.p09' %></p>
<h5 class="color-tennis-blue">1.6 <%= t '.organizing_matches' %></h5>
  <p><%= t '.p10' %></p>
