<%= render "shared/image_front", sticky: false %>

<div class="container" data-controller="toggle">
  <div class="frame-shape home-wrap text-size box-scroller" data-toggle-target="togglableElement" data-action="scroll->toggle#scrollFunction" >
    <br><br><h3><%= t(".main_title").upcase %></h3><br>
    <h5><%= t '.welcome_title' %></h5>
    <p><%= t '.p01' %></p>
    <p><%= t '.p02' %></p>
    <p><%= t '.p03' %></p>
    <br>

    <br><h5 class="top-bottom-padding"><%= t '.how_title' %></h5>
    <p><%= t '.p04' %></p>
    <ol>
      <% (1..4).each do |i| %>
        <li class="top-bottom-padding"><%= t ".li0#{i}_html" %></li>
      <% end %>
    </ol>
    <p><%= t '.p05_html' %></p>
    <br>

    <br><h5 class="top-bottom-padding"><%= t '.use_title' %></h5>
    <p><%= t '.p06' %></p>
    <ol>
      <% (5..8).each do |i| %>
        <li class="top-bottom-padding"><%= t ".li0#{i}_html" %></li>
      <% end %>
    </ol><br>

    <br><h5><%= t '.happy_tournament' %></h5>

    <button  data-action="click->toggle#scrollToTop" data-toggle-target="topButton"
      class="btn buttons-shape btn-blue button-top d-none"><i class="fa-solid fa-up-long"></i>
    </button>
  </div>

  <br><div class = "buttons-wrap">
    <% if current_user == @admin %>
      <%= link_to t('.create_club_btn'), new_user_box_score_path, class: "btn buttons-shape btn-aqua" %>
    <% end %>
  </div>
</div>
