<div>
  <div class="container">
    <br><h3><%= @club.name %> League Box</h3>
    <div class="form-wrap">
      <h4>The path to social tennis playing</h4>
      <br><h4>Grand Prix Tournament</h4>
      <p>The mixed Singles Box League Tournament is organized as a Grand Prix event with one round
      per month. Points earned in each round of the box league will accumulate to give an overall
      Grand Prix Tournament winner.</p>
      <p>The winner will receive the Singles Box League Tournament trophy, listing on the club honors
      board and possibly some champagne to celebrate at the end of the run.</p>
      <p>The closing date for the compilation of earned points will coincide with the yearly club
      tournament and the winner will be celebrated on the finals day during the awards ceremony.
      </p>
      <p>The Grand Prix league table will be updated and displayed on the league board at the end of each
      month.
      </p>
    </div>
    <br>
    <div class = "buttons-wrap">
      <%= link_to "Tournament overview", overview_path, class: "btn button-purple" %>
      <%= link_to "View all boxes", boxes_path, class: "btn button-purple" %>
      <% if current_user %>
        <%= link_to "Enter match results", mybox_path(current_user.user_box_scores[0].box), class: "btn button-purple" %>
      <% else %>
        <%= link_to "Log in to enter match results", new_user_session_path, class: "btn button-purple" %>
      <% end %>
    </div>
  </div>
  <br><br>
</div>
