<% if !@is_mobile %>
  <div class="dont-print"><%= render "shared/image_front" %></div>
<% else %>
  <br>
<% end %>
<div class="<%= class_names("container": !@is_mobile) %>">
  <div class="frame-color-shape frame-padding">
    <%= render "shared/staff", from:"pages" %>
  </div><br>

  <%# Player Directory Section %>
  <br><h4><div class="title"><b><%= t("shared.my_club.player_directory_title").upcase %></b></div></h4><br>
  <% if @is_admin && @players_by_club %>
    <%# Admin view: Grouped by club %>
    <% @players_by_club.each do |club, players| %>
      <% next if club.nil? %>
      <%= render "shared/player_directory", players: players, club_name: club.name, is_mobile: @is_mobile %>
    <% end %>
  <% elsif @players %>
    <%# Regular user view: Single club %>
    <%= render "shared/player_directory", players: @players, club_name: @club.name, is_mobile: @is_mobile %>
  <% end %>

  <div class = "buttons-wrap">
    <%= link_to t(".ok"), boxes_path, class: "btn btn-shape btn-aqua" %>
  </div>
</div>
