<div class="dont-print"><%= render "shared/image_front", sticky: false %></div>

<div class="container">
  <div class="frame-color-shape frame-padding-freetop text-size dont-print">
    <br><h3><%= t(".overview_title").upcase %></h3><br>
    <p><%= t('.p01_html', clubname: @club.name) %></p>
    <p><%= t '.p02' %></p>
    <p><%= t '.p03' %></p>
  </div>

  <div data-controller="toggle" class="top-bottom-padding"
       data-toggle-display-rules-value="<%= t '.btn_display_rules' %>"
       data-toggle-hide-rules-value="<%= t '.btn_hide_rules' %>">
    <div class = "buttons-wrap dont-print">
      <button data-action="click->toggle#toggleRules" data-toggle-target="toggler"
        class="btn buttons-shape btn-blue text-size"><%= t '.btn_display_rules' %>
      </button>
      <span class="d-none" data-toggle-target="togglableButton">
        <%= link_to t('print_btn'), '#', :onclick => 'window.print();return false;', class: "btn buttons-shape btn-green text-size ms-2"%>
      </span>
    </div>

    <div data-toggle-target="togglableElement"
         class="d-none frame-color-shape frame-padding-freetop text-size print-all-content box-scroller">
      <br><h3><%= t(".rules").upcase %></h3><br>
      <h5><%= t '.rounds' %></h5>
        <p><%= t '.p04' %></p>
      <h5><%= t '.availability' %></h5>
        <p><%= t '.p05' %></p>
      <h5><%= t '.qualifying_players' %></h5>
        <p><%= t '.p06' %></p>
        <p><%= t('.p07_html', clubname: @club.name) %></p>
        <p><%= t '.p08' %></p>

      <h5><%= t '.box_design' %></h5>
        <p><%= t '.p09' %></p>
      <h5><%= t '.organizing_matches' %></h5>
        <p><%= t '.p10' %></p>
      <h5><%= t '.tennis_rules' %></h5>
        <p><%= t '.p11' %></p>
      <h5><%= t '.matches_not_umpired' %></h5>
        <p><%= t '.p12' %></p>
      <ul>
        <% (1..5).each do |i| %>
          <li><%= t ".li0#{i}" %></li>
        <% end %>
      </ul>
      <h5><%= t '.warm_up' %></h5>
        <p><%= t '.p13' %></p>
      <h5><%= t '.match_format' %></h5>
        <% (14..19).each do |i| %>
          <p><%= t ".p#{format '%02d',i}" %></p>
        <% end %>
      <h5><%= t '.points' %></h5>
        <p><%= t '.p20' %></p>
      <ul>
        <% (6..8).each do |i| %>
          <li><%= t ".li#{format '%02d',i}" %></li>
        <% end %>
      </ul>
      <p><%= t '.p21' %></p>
      <i><ul>
        <% (9..12).each do |i| %>
          <li><%= t ".li#{format '%02d',i}" %></li>
        <% end %>
      </ul></i>
      <h5><%= t '.posting_results' %></h5>
        <p><%= t '.p22' %></p>
        <p><%= t '.p23' %></p>
        <p><%= t '.p24' %></p>
      <h5><%= t '.box_league_ranking' %></h5>
        <p><%= t '.p25' %></p>
        <ol>
          <% (13..16).each do |i| %>
            <li><%= t ".li#{format '%02d',i}" %></li>
          <% end %>
        </ol>
      <h5><%= t '.promotion_relegation' %></h5>
        <p><%= t '.p26' %></p>
        <ul>
          <li><%= t '.li17' %></li>
          <li><%= t '.li18' %></li>
        </ul>
      <h5><%= t '.new_entrants' %></h5>
        <p><%= t '.p27' %></p>
      <h5><%= t '.disqualification' %></h5>
        <p><%= t '.p28' %></p>
      <h5><%= t '.no_show' %></h5>
        <p><%= t '.p29' %></p>
        <p><%= t '.p30' %></p>
        <p><%= t '.p31' %></p>
      <h5><%= t '.retire_from_match' %></h5>
        <p><%= t '.p32' %></p>
        <p><%= t '.p33' %></p>
        <i>
          <p><%= t '.p34' %></p>
          <p><%= t '.p35' %></p>
        </i>
      <h5><%= t '.withdrawing' %></h5>
        <p><%= t '.p36' %></p>
        <p><%= t '.p37' %></p>
      <h5><%= t '.walk_overs' %></h5>
        <p><%= t '.p38' %></p>
        <ul>
          <li><%= t '.li19' %></li>
          <li><%= t '.li20' %></li>
          <li><%= t '.li21' %></li>
        </ul>
      <h5><%= t '.deadline_extensions' %></h5>
        <p><%= t '.p39' %></p>
        <p><%= t '.p40' %></p>
        <p><%= t '.p41' %></p>
      <h5><%= t '.disputes' %></h5>
      <% if @referee %>
        <% mailto = t(".mail_to_referee_html", referee_name: "#{@referee.first_name} #{@referee.last_name}", referee_email: @referee.email) %>
      <% else %>
        <% mailto = t(".mail_to_admin_html", admin_email: @admin.email) %>
      <% end %>
      <p><%= t(".p42_html", mailto: mailto) %></p>

      <button  data-action="click->toggle#scrollToTop" data-toggle-target="topButton"
        class="btn buttons-shape btn-blue button-top d-none"><i class="fa-solid fa-up-long"></i>
      </button>
    </div>
  </div>
</div>
