<div class="d-none d-md-block dont-print"><%= render "shared/image_front" %></div>
<div class="d-block d-md-none"><br></div>

<div data-controller="toggle" class="container-fluid px-2 px-md-3 px-lg-4"
     data-toggle-display-rounds-value="<%= t '.btn_display_gallery' %>"
     data-toggle-hide-rounds-value="<%= t '.btn_hide_gallery' %>">
  <div class="frame-color-shape frame-padding frame-margin-rl text-size dont-print">

    <!-- Rules Header -->
    <header id="rules-header" class="rules-header mb-4 mb-md-5">
      <h1 class="title mb-0">
        <b><%= t(".rules_title").upcase %></b>
      </h1>
    </header>

    <!-- Rules Sections -->
    <div class="rules-sections-container">
      <% rules_sections = [
        { number: 1, icon: "fa-regular fa-circle-check", key: ".general_rules_section", partial: "1_general_rules" },
        { number: 2, icon: "fa-solid fa-calendar", key: ".round_dates_section", partial: "2_round_dates" },
        { number: 3, icon: "fa-solid fa-trophy", key: ".match_rules_section", partial: "3_match_rules" },
        { number: 4, icon: "fa-solid fa-award", key: ".scoring_and_points_section", partial: "4_scoring_and_points" },
        { number: 5, icon: "fa-solid fa-user-group", key: ".ranking_and_promotions_section", partial: "5_ranking_and_promotions" },
        { number: 6, icon: "fa-solid fa-circle-exclamation", key: ".special_circumstances_section", partial: "6_special_circumstances" },
        { number: 7, icon: "fa-solid fa-scale-balanced", key: ".disputes_section", partial: "7_disputes" }
      ]
      rules_sections.reject! { |section| section[:number] == 2 } unless user_signed_in?
      %>

      <% rules_sections.each do |section| %>
        <%= render "rules_section",
            section_number: section[:number],
            icon_class: section[:icon],
            translation_key: section[:key],
            partial_name: section[:partial] %>
      <% end %>
    </div>
  </div>

  <!-- Rules Actions -->
  <div class="rules-actions-section my-4 my-md-5 dont-print">
    <%= render "gallery_toggle_buttons",
        toggle_button_class: "btn btn-shape btn-yellow text-size",
        translation_namespace: "pages.rules",
        ok_translation_key: "pages.rules.ok",
        buttons_wrap_class: "buttons-wrap d-flex flex-row gap-2 justify-content-center align-items-center",
        buttons_wrap_style: "flex-wrap: nowrap;" %>
  </div>

  <%= render "embedded_gallery", translation_namespace: "pages.rules" %>
</div>
