<% if !@is_mobile %>
  <div class="dont-print"><%= render "shared/image_front" %></div>
<% else %>
  <br>
<% end %>

<div class="<%= class_names("container": !@is_mobile) %>" data-controller="toggle">
    <div class="frame-color-shape frame-padding frame-margin-rl text-size box-scroller"
         data-toggle-target="togglableElement" >
    <br><h4><div class="title"><b><%= t(".sitemap_title").upcase %></b></div></h4><br>
    <br><h5><%= t '.home' %></h5>
    <p><%= t '.p01' %></p>
    <% if current_user && current_user.role != "player" %>
      <p><%= t '.p02_html' %></p>
    <% end %>

    <br><h5><%= t '.overview_rules' %></h5>
    <p><%= t '.p03' %></p>

    <br><h5><%= t '.club_staff' %></h5>
    <p><%= t '.p05' %></p>

    <br><h5><%= t '.all_boxes' %></h5>
    <p><%= t '.p07' %></p>
    <ul>
      <li><%= t '.li01' %></li>
      <li><%= t '.li02' %></li>
      <li><%= t '.li03' %></li>
      <li><%= t '.li04' %></li>
    </ul>
    <p><%= t '.p08_html' %></p>
    <p>
      <%= t '.p09' %>
      <% if current_user && current_user.role == "admin" %>
        <%= t '.p10a_html' %>
      <% end %>
      <% if current_user && current_user.role != "player" %>
        <%= t '.p11_html' %>
      <% end %>
    </p>
    <br><h5><%= t '.league_table' %></h5>
    <p><%= t '.p12_html' %></p>
    <p><%= t '.p13_html' %></p>

    <br><h5><%= t '.table_view' %></h5>
    <p><%= t '.p16' %></p>
    <% if current_user && current_user.role != "player" %>
      <p><%= t '.p18_html' %></p>

      <br><h5><%= t '.referee_list_view' %></h5>
      <p><%= t '.p14_html' %></p>
      <p><%= t '.p21_html' %></p>
    <% else %>
      <p><%= t '.p17_html' %></p>

      <br><h5><%= t '.list_view' %></h5>
      <p><%= t '.p19_html' %></p>
      <p><%= t '.p20_html' %></p>

      <br><h5><%= t '.my_scores' %></h5>
      <p><%= t '.p22_html' %></p>
      <p><%= t '.p23_html' %></p>
    <% end %>

    <br><h5><%= t '.match_results' %></h5>
    <p><%= t '.p24' %>
    <ul>
      <li><%= t '.li05' %></li>
      <li><%= t '.li06' %></li>
      <li><%= t '.li07' %></li>
    </ul></p>

    <br><h5><%= t '.new_match_score' %></h5>
    <p><%= t '.p25' %></p>

    <% if current_user && current_user.role != "player" %>
      <br><h5><%= t '.match_edit_score' %></h5>
      <p><%= t '.p26' %></p>
    <% end %>

    <br><h5><%= t '.chatrooms' %></h5>
    <% if current_user && current_user.role != "player" %>
      <p><%= t '.p27_html' %></p>
    <% else %>
      <p><%= t '.p28_html' %></p>
    <% end %>
    <ul>
      <li><%= t '.li08_html' %></li>
      <li><%= t '.li09_html' %></li>
      <li><%= t '.li10_html' %></li>
      <li><%= t '.li11_html' %></li>
      <li><%= t '.li12_html' %></li>
    </ul></p>
    <p><%= t '.p29' %></p>
    <br><br>

    <button  data-action="click->toggle#scrollToTop" data-toggle-target="topButton"
      class="btn buttons-shape btn-beige top-button d-none"><i class="fa-solid fa-up-long"></i>
    </button>
  </div>

<!--
  <div class = "buttons-wrap">
    <%= link_to "Tournament rules", rules_path, class: "btn buttons-shape btn-green" %>
    <%= link_to "Club staff", staff_path, class: "btn buttons-shape btn-green" %>
    <% if current_user && current_user.role == "admin" %>
      <%= link_to "New round", new_user_box_score_path, class: "btn buttons-shape btn-green" %>
    <% end %>
    <% unless current_user %>
      <%= link_to "Log in to enter new match results", new_user_session_path, class: "btn buttons-shape btn-green" %>
    <% end %>
  </div>
  -->
</div>
