<%= render "image_front", sticky: true %>

<div class="container">
  <div class="frame-shape frame-padding">
    <h3><%= "Your club staff".upcase %></h3>
      <br>
      <div class="row" style="font-weight: bold">
        <div class="col-sm-2">Name</div>
        <div class="col-sm-2"><%= "ðŸŽ¾ Club" %></div>
        <div class="col-sm-3"><%= "âœ‰ï¸ E-mail" %></div>
        <div class="col-sm-2"><%= "ðŸ“ž Telephone" %></div>
        <div class="col-sm-3"><%= "ðŸ§© Role" %></div>
      </div>
      <div class="row">
        <div class="col-sm-2"><%= render "shared/fullname", user: @admin%></div>
        <div class="col-sm-2"></div>
        <div class="col-sm-3"><%= "#{@admin.email}" %></div>
        <div class="col-sm-2"><%= "#{@admin.phone_number}" %></div>
        <div class="col-sm-3"><%= "Website admin" %></div>
      </div>
      <% if current_user == @admin %>
        <% @referees.each do |referee| %>
          <div class="row">
            <div class="col-sm-2"><%= render "shared/fullname", user: referee%></div>
            <div class="col-sm-2"><%= "#{referee.club.name}" %></div>
            <div class="col-sm-3"><%= "#{referee.email}" %></div>
            <div class="col-sm-2"><%= "#{referee.phone_number}" %></div>
            <div class="col-sm-3"><%= "#{referee.club.name} referee" %></div>
          </div>
        <% end %>
      <% end %>
      <% if @referee %>
        <div class="row">
          <div class="col-sm-2"><%= render "shared/fullname", user: @referee%></div>
          <div class="col-sm-2"><%= "#{@referee.club.name}" %></div>
          <div class="col-sm-3"><%= "#{@referee.email}" %></div>
          <div class="col-sm-2"><%= "#{@referee.phone_number}" %></div>
          <div class="col-sm-3"><%= "#{@referee.club.name} referee" %></div>
        </div>
      <% end %>
      <br>
  </div><br>

  <div class = "buttons-wrap">
    <%= link_to "Home", root_path, class: "btn buttons-shape btn-green" %>
    <%= link_to "Tournament rules", rules_path, class: "btn buttons-shape btn-green" %>
    <%= link_to "Website map", structure_path, class: "btn buttons-shape btn-green" %>
    <% if current_user && current_user.role == "player" %>
      <%# passing 0 to manage_my_box_path, forces user to chose a round%>
      <%= link_to "My box", manage_my_box_path(0), class: "btn buttons-shape btn-green" %>
    <% end %>
  </div>
</div>
