<%= render "shared/image_front" %>

<div class="container">
  <%# processing_round_request = params[:round_id] || (params[:contact] && params[:contact][:club_name]) %>
  <% processing_new_round = params[:round_id] || (params[:contact] && params[:contact][:round_id]) %>
  <div class="frame-color-shape">
  <div class="contact-wrap">
    <% if processing_new_round %>
      <!--- from the Boxes index view (request a new round creation) -->
      <br><h4><div class="title"><b><%= t(".new_round_title").upcase %></b></div></h4><br>
    <% else %>
      <!--- from the footer partial (contact us) -->
      <br><h4><div class="title"><b><%= t(".contact_title").upcase %></b></div></h4><br>
    <% end %>
    <% if !processing_new_round %>
      <p><%= t '.contact_p01_html' %></p>
      <p><%= t '.contact_p02' %></p>
    <% end %>
    <%= simple_form_for @contact do |f| %>
      <% if @contact.errors.any? %>
          <%# t('.error_invite') %>
          <div id="error_explanation" class="bg-rose-200 pt-3 pb-1 mb-4 px-4 rounded-md">
              <div class="bold-font text-rose-700 text-sm pb-4">
                <!---<%= pluralize(@contact.errors.count, "error") %> prohibited this page from being saved: --->
                <%= "#{t('.error', count: @contact.errors.count)} #{t('.error_message')}" %><br>
              </div>

              <ul class="pb-0 mb-0">
                  <% @contact.errors.each do |error| %>
                      <li class="text-rose-600 pl-4 text-sm"><%= error.full_message %></li>
                  <% end %>
              </ul>
          </div>
      <% end %>
      <div class="contact-align contact-space-between">
        <div>
          <!--- form field SUBJECT -->
          <% if processing_new_round %>
            <!--- from the Boxes show_referee view (request a new round creation) -->
            <% round = Round.find(processing_new_round) %>
            <% default_subject =  t('.new_round_subject', club: round.club.name)%>
            <%= f.input :subject,
              label: false,
              prompt: t('.prompt'),
              input_html: {class: "contact-field", style: "width: 20em", value: default_subject},
              required: true
            %>
          <% else %>
            <!--- from the footer partial (contact us) -->
            <%= f.input :subject,
              label: false,
              # collection: ['Provide feedback', 'Join one of our clubs', 'Input a new score'*, 'Any other topic']
              # * if user signed in
              collection: t('.topics').map { |item| item.values if item.keys[0] != :input_score || current_user && current_user != @admin }.compact.flatten,
              prompt: t('.prompt'),
              input_html: {class: "contact-field", style: "width: 20em"},
              required: true
            %>
          <% end %>
        </div>

        <!--- form field NAME -->
        <% default_name = current_user ? "#{current_user.first_name} #{current_user.last_name}" : "" %>
        <div><%= f.input :name,
          label: false,
          placeholder: t('.name_placeholder'),
          input_html: {class: "contact-field", style: "width: 20em", value: default_name},
          required: true
        %></div>
      </div>
      <div class="contact-align contact-space-between">

        <!--- form field EMAIL ADDRESS -->
        <% default_email = current_user ? current_user.email : "" %>
        <div><%= f.input :email,
          label: false,
          placeholder: t('.email_placeholder'),
          input_html: {class: "contact-field", style: "width: 20em", value: default_email},
          required: true
        %></div>

        <!--- form field PHONE NUMBER -->
        <% default_phone = current_user ? current_user.phone_number : "" %>
        <div><%= f.input :phone,
          label: false,
          placeholder: t('.phone_placeholder'),
          input_html: {class: "contact-field", style: "width: 20em", value: default_phone},
          required: false
        %></div>
      </div>

      <!--- form field MESSAGE BODY -->
      <% if processing_new_round %>
        <!--- from the Boxes show_referee view (request a new round creation) -->
        <% round = Round.find(processing_new_round) %>
        <% duration = ((round.end_date + 1 - round.start_date).to_f / 365 * 12).round %>
        <% start_date = l(round.end_date + 1, format: :default) %>
        <% end_date = l(round.end_date >> duration, format: :default) %>
        <% default_message = t('.new_round_message',
                                  start_date: start_date, end_date: end_date,
                                  club: round.club.name,
                                  sender: default_name) %>
      <% else %>
        <!--- from the footer partial (contact us) -->
        <% default_message = "" %>
      <% end %>
      <%= f.input :message,
        as: "text",
        label: false,
        input_html: {class: "contact-field contact-content", value: default_message},
        required: true
      %>

      <!--- form field SECURITY CHECK (hidden) -->
      <%= f.text_field :formcheck,
        type:"hidden"
      %>
      <% if processing_new_round %>
        <!--- from the Boxes show_referee view (request a new Round creation) -->

        <!--- form field ROUND ID = passing parameters to the Sent view (hidden) -->
        <%= f.text_field :round_id,
          type:"hidden",
          value: round.id
        %>
        <div>
          <!--- form field FILE ATTACHMENT (one file for new Round request) -->
          <!--- NB: "required: true" with "validate: { presence: true }" in the Contact model
          would not work with "multiple : true" since no attachment yields "files"=>[""] in the params -->
          <%= f.file_field :files,
            class: 'btn buttons-shape btn-beige mb-3',
            accept: 'text/csv,application/msword,application/vnd.ms-excel,application/pdf',
            required: true
          %>
        </div>
      <% else %>
        <!--- form field FILES ATTACHMENT (multi file for Contact us) -->
        <div>
          <%= f.file_field :files,
            multiple: true,
            class: 'btn buttons-shape btn-beige mb-3',
            accept: 'image/png,image/gif,image/jpeg,application/pdf'
          %>
        </div>
      <% end %>
      <!--- form SUBMIT -->
      <%= f.submit t('.send_btn'),
        class: "btn buttons-shape btn-beige mb-3"
      %>
    <% end %>
  </div>
  <div>
  <%= render "shared/staff", from: "contact" %>
</div>
