<%= render "shared/image_front" %>

<div class="<%= class_names("container": !@is_mobile) %>">
  <div class="frame-color-shape frame-padding text-size">
    <h3><%= t '.sent_title' %></h3>
    <br>
    <% if params[:round_id] %>
      <p><%= t('.p04_html', club_name: @round.club.name) %></p>
    <% else %>
      <p><%= t '.p01_html' %></p>
      <% if current_user %>
        <p><%= t '.p02' %></p>
      <% else %>
        <p><%= t '.p03' %></p>
      <% end %>
    <% end %>
  </div>
  <br>
  <div class = "buttons-wrap">
    <% if params[:round_id] %>
      <%# link_to t(".back_btn"), boxes_path(request.params.except(:action, :controller)), class: "btn btn-shape btn-green" %>
      <%= link_to t(".back_btn"), boxes_path(round_id: @round.id, club_id: @round.club_id), class: "btn btn-shape btn-green" %>
    <% else %>
      <%= link_to t(".home_btn"), root_path, class: "btn btn-shape btn-green" %>
    <% end %>
  </div>
</div>
