<%# together with preferences/new, should replace pages/my_details when photo uploads issues are solved %>
<%= render "shared/image_front" %>
<div class="<%= class_names("container": !@is_mobile) %>"
     data-controller="toggle">
  <!--<% if @preference.photo.attached? %>
    <%= cl_image_tag(@preference.photo.key, alt: 'profile picture', width: 400, height: 300, crop: :fill) %>
  <% end %>-->

  <%= form_with model: @preference, method: @preference.id ? :patch : :post do |f| %>

    <div class="frame-color-shape frame-padding frame-margin-rl text-size box-scroller" >
      <b><%= render "shared/fullname", user: current_user %></b><br><br>
      <br>
      <div class="row">
        <div class="col-4"><%= "ðŸ§© Role:" %></div>
        <div class="col-3"><%= "#{current_user.role.capitalize}" %></div>
      </div>

      <!--<div class="row">
        <div class="col-4"><%= f.label :photo, "ðŸ™ Select picture:" %></div>
        <div class="col-2"><%= f.file_field :photo %></div>
      </div>-->

      <div class="row">
        <div class="col-4"><%= f.label :nickname, "ðŸ˜Ž #{t(".nick_name")}:" %></div>
        <div class="col-2"><%= f.text_field :nickname,
                                placeholder: current_user.nickname,
                                value: current_user.nickname,
                                style: "width: 10em",
                                input_html: {class: "contact-field"} %>
        </div>
      </div>

      <div class="row">
        <div class="col-4"><%= f.label :phone_number, "ðŸ“ž #{t(".phone_number")} :" %></div>
        <div class="col-2"><%= f.text_field :phone_number,
                                placeholder: current_user.phone_number,
                                value: current_user.phone_number,
                                style: "width: 10em",
                                input_html: {class: "contact-field"} %>
        </div>
      </div>

      <div class="row">
        <div class="col-4"><%= f.label :e_mail, "ðŸ“© #{t(".e_mail")} :" %></div>
        <div class="col-2"><%= f.text_field :e_mail,
                                placeholder: current_user.email,
                                value: current_user.email,
                                style: "width: 20em",
                                input_html: {class: "contact-field"} %>
        </div>
      </div>

      <div class="row">
        <div class="col-4"><%= f.label :password, "ðŸ” #{t(".password")}:" %></div>
        <div class="col-4">
          <%= check_box_tag(:password,"1", params[:password].eql?("1")) %>
        </div>
      </div>

      <% if (["player", "player referee"].include?(current_user.role)) %>
        <hr>
        <b><%= "League_Round - Box, #rank" %></b><br>
        <% name = "#{render "shared/fullname", user: current_user}"
          boxes = current_user.user_box_scores.map{ |ubs| "#{round_label(ubs.box.round)} - Box#{format('%02d', ubs.box.box_number)}, ##{ubs.rank},<br />" }.sort.join[0...-7] %>
        <%= sanitize "#{boxes}" %>
      <% end %>
      <hr>
      <b><%= t(".preferences") %></b><br>
        <%# checkbox to remove formatting if page does not display well on screen %>
        <%# check_box_tag(:clear_format,"1", params[:clear_format].eql?("1"), onchange: "this.form.submit();") %>
      <div class="row">
        <div class="col-4"><%= t(".expanded_view") %></div>
        <div class="col-5">
          <%= check_box_tag(:clear_format,"1", @preference.clear_format.eql?(true)) %>
          <%= f.label :clear_format, t(".clear_format") %>
        </div>
    </div>
    </div>
    <br>
    <div class = "buttons-wrap">
      <%= f.submit "OK", class: "btn btn-shape btn-aqua" %>
    </div>
  <% end %>

</div>
