<%#
  Score Display Partial
  Displays a single player's match score row.
  Shows player name, set scores, tiebreak (if applicable), match points, and total box points.
  Row is color-coded: green for winner, red for loser.

  Parameters:
    match_score: UserMatchScore object containing the player's match scores
    tiebreak: Sum of both players' tiebreak scores (determines if tiebreak column is shown)
    user_box_score: UserBoxScore object for displaying total box points
%>
<div class="<%= class_names("row", "color-green": match_score.is_winner, "color-tennis-red": !match_score.is_winner) %>">
  <%# Player Name Column (col-3): Last name only %>
  <div class="col-3"%>
    <b><%= match_score.user.last_name %></b>
  </div>
  <%# Score Columns Container (col-9): Nested row for score-related columns %>
  <div class="col-9 row">
    <%# Set 1 Score Column (col-1) %>
    <div class="col-1"><%= "#{match_score.score_set1}" %></div>
    <%# Set 2 Score Column (col-1) %>
    <div class="col-1"><%= "#{match_score.score_set2}" %></div>
    <%# Tiebreak Score Column (col-2): Only shown if tiebreak was played %>
    <% if tiebreak > 0 %>
      <div class="col-2"><%= "#{match_score.score_tiebreak}" %></div>
    <% end %>
    <%# Match Points Column (col-3): Points earned in this match %>
    <div class="col-3">&nbsp;&nbsp;<%= t("pts", count: match_score.points) %></div>
    <%# Total Box Points Column (col-4): Player's cumulative points in the box %>
    <div class="col-4"><%= t("box_pts", count: user_box_score.points) %></div>
  </div>
</div>
