<div class="<%= class_names("row", "color-green": match_score.is_winner, "color-tennis-red": !match_score.is_winner)%>">
  <%# sum of col- must equal 12 %>
  <div class="col-3"%>
    <b><%= match_score.user.last_name %></b>
  </div>
  <div class="col-9 row">
    <div class="col-1"><%= "#{match_score.score_set1}" %></div>
    <div class="col-1"><%= "#{match_score.score_set2}" %></div>
    <% if tiebreak > 0 %>
      <div class="col-2"><%= "#{match_score.score_tiebreak}" %></div>
    <% end %>
    <div class="col-2">&nbsp;&nbsp;+<%= t("pts", count: match_score.points) %></div>
    <div class="col-4">→<%= t("box_pts", count: user_box_score.points) %></div>
  </div>
</div>
