<div class="row">
  <%# sum of col- ust equal 12 %>
  <div class="col-3"><b><%= t(".player") %></b></div>
  <div class="col-1"><%= t(".set1") %></div>
  <div class="col-1"><%= t(".set_2") %></div>
  <% if tiebreak > 0 %>
    <div class="col-1"><%= t(".tiebreak") %></div>
  <% end %>
  <div class="col-3"><%= t(".match_points") %></div>
  <div class="col-1"><%= t(".total") %></div>
</div>
