<%#
  Edit Match Score Page
  Form for admins/referees to edit or delete a match and its dependent user_match_scores.
  Allows modification of court, date/time, and scores for both players.
  Shows original submission information and provides delete functionality.
%>
<div class="<%= class_names("text-size", "container": !@is_mobile) %>">
  <% if !@is_mobile %><br><% end %>

  <%# Page Header Section %>
  <div class="one-liner">
    <h3><%= t '.edit_match_title' %></h3>
  </div>
  <div class="one-liner">
    <h4><%= render "shared/display_club", round: @round %></h4>
  </div>
  <p><%= t '.p01' %></p>

  <%# Players Display: Show both players with profile pictures %>
  <% players = [@current_player, @opponent] %>
  <% left_user = @user_match_scores[0]&.user || players[0] %>
  <% right_user = @user_match_scores[1]&.user || players[1] %>
  <div class="one-liner frame-margin-rl">
    <h5>
      <% if @match.doubles_match? %>
        <span><%= @team_a&.display_name %></span>
        <i><%= " versus " %></i>
        <span><%= @team_b&.display_name %></span>
      <% else %>
        <%# First Player: Name and profile picture %>
        <span style="display: inline-flex; align-items: center; gap: 8px;">
          <%= render "shared/fullname", user: left_user %>
          <% if left_user&.profile_picture&.present? %>
            <%= image_tag(profile_picture_circular_url(left_user, @is_mobile ? 25 : 50), alt: 'Profile picture', style: "width: #{@is_mobile ? 25 : 50}px; height: #{@is_mobile ? 25 : 50}px; border-radius: 50%; object-fit: cover; flex-shrink: 0;") %>
          <% end %>
        </span>
        <i><%= " versus " %></i>
        <%# Second Player: Name and profile picture %>
        <span style="display: inline-flex; align-items: center; gap: 8px;">
          <%= render "shared/fullname", user: right_user %>
          <% if right_user&.profile_picture&.present? %>
            <%= image_tag(profile_picture_circular_url(right_user, @is_mobile ? 25 : 50), alt: 'Profile picture', style: "width: #{@is_mobile ? 25 : 50}px; height: #{@is_mobile ? 25 : 50}px; border-radius: 50%; object-fit: cover; flex-shrink: 0;") %>
          <% end %>
        </span>
      <% end %>
    </h5>
  </div>

  <%# Debug Output: Shows current match scores (can be removed in production) %>
  <%# "#{@match.user_match_scores[0][:score_set1]} #{@match.user_match_scores[0][:score_set2]} #{@match.user_match_scores[0][:score_tiebreak]}/" %>
  <%# "#{@match.user_match_scores[1][:score_set1]} #{@match.user_match_scores[1][:score_set2]} #{@match.user_match_scores[1][:score_tiebreak]}" %>

  <%# Edit Match Form %>
  <%= form_for @match do |f| %>
    <div class="frame-color-shape frame-padding frame-margin-rl">
      <br>

      <%# Court Selection: Select court number (1-10) %>
      <div class="row">
        <div class="col-4"><%= f.label :court_id, t(".match_played") %></div>
        <div class="col-1"><%= f.select :court_id, 1..10 %></div>
      </div>
      <br>

      <%# Date Selection: Date picker with round date constraints %>
      <div class="row">
        <div class="col-4"><%= t '.date_time' %></div>
        <div class="col-3">
          <%= f.date_field(:time, min: @round.start_date, max: @max_end_date ) %>
          <%# Time selection commented out - can be enabled if needed %>
          <%# f.time_select(:time, start_hour: 8, end_hour: 19, minute_step: 30, :time_separator => "") %>
        </div>
      </div>
      <br>

      <%# Score Column Headers %>
      <div class="row">
        <div class="col-4"></div>
        <div class="col-2"><%= t '.set_1' %></div>
        <div class="col-2"><%= t '.set_2' %></div>
        <div class="col-2"><%= t '.tie_break' %></div>
      </div>

      <%# Score Input Fields: Singles uses nested user scores, doubles uses team-vs-team score selectors %>
      <% if @match.doubles_match? %>
        <% score_options = ["4-3", "4-2", "4-1", "4-0", "0-4", "1-4", "2-4", "3-4"] %>
        <% tiebreak_points = @effective_tiebreak_points || @round.effective_tiebreak_points %>
        <% tiebreak_options = ["Na", "#{tiebreak_points + 1}-#{tiebreak_points - 1}"] %>
        <% (tiebreak_points - 2).downto(0) { |i| tiebreak_options << "#{tiebreak_points}-#{i}" } %>
        <% 0.upto(tiebreak_points - 2) { |i| tiebreak_options << "#{i}-#{tiebreak_points}" } %>
        <% tiebreak_options << "#{tiebreak_points - 1}-#{tiebreak_points + 1}" %>

        <div class="row">
          <div class="col-4"><b><%= @team_a&.display_name %></b></div>
          <div class="col-2"><%= f.select :doubles_score_set1, score_options, { selected: @selected_doubles_score_set1 } %></div>
          <div class="col-2"><%= f.select :doubles_score_set2, score_options, { selected: @selected_doubles_score_set2 } %></div>
          <div class="col-2"><%= f.select :doubles_score_tiebreak, tiebreak_options, { selected: @selected_doubles_score_tiebreak } %></div>
        </div>
        <div class="row">
          <div class="col-4"><b><%= @team_b&.display_name %></b></div>
        </div>
      <% else %>
        <%= f.fields_for :user_match_scores do |user_match_score| %>
          <div class="row">
            <%# Player Name Column %>
            <div class="col-4"><%= render "shared/fullname", user: players[user_match_score.index] || user_match_score.object.user %></div>
            <%# Set 1 Score: Games won (0-4) %>
            <div class="col-2"><%= user_match_score.select :score_set1, 0..4 %></div>
            <%# Set 2 Score: Games won (0-4) %>
            <div class="col-2"><%= user_match_score.select :score_set2, 0..4 %></div>
            <%# Tiebreak Score: Points dynamically generated based on effective_tiebreak_points or "Na" (not applicable) %>
            <% tiebreak_points = @effective_tiebreak_points || @round.effective_tiebreak_points %>
            <% tiebreak_options = ['Na'] + (0..tiebreak_points).to_a + (tiebreak_points + 1..tiebreak_points + 2).to_a %>
            <div class="col-2"><%= user_match_score.select :score_tiebreak, tiebreak_options %></div>
          </div>
        <% end %>
      <% end %>
      <br>

      <%# Original Submission Info: Who submitted the score and when %>
      <% if @score_input_by && @log_time %>
        <%= t(".submitted", date: l(@log_time, format: :wwwwddmmmyyyy_at_hhmm),
                            user: "#{@score_input_by.role} #{(render "shared/fullname", user: @score_input_by).strip}") %>
      <% end %>
      <br><br>

      <%# Hidden Fields: Store player IDs, round ID, return path, and match ID %>
      <%= hidden_field_tag(:player_id, @current_player.id) if @current_player %>
      <%= hidden_field_tag(:opponent_id, @opponent.id) if @opponent %>
      <%= hidden_field_tag(:round, @round.id) %>
      <%= hidden_field_tag(:page_from, @page_from) %>
      <%= hidden_field_tag(:match_id, params[:match_id]) %>
    </div>
    <br>

    <%# Form Actions: Back, Delete, and Update buttons %>
    <div class="buttons-wrap">
      <%= link_to t(".back_btn"), @page_from, class: "btn btn-shape btn-yellow mb-3" %>

      <%# Delete Button: Delete match with confirmation dialog %>
      <%= link_to t(".delete_score_btn"), match_path(@match, page_from: @page_from), class: "btn btn-shape btn-green mb-3",
      data: {turbo_method: :delete, turbo_confirm: t(".sure")} %>&nbsp;&nbsp;&nbsp;&nbsp;

      <%# Update Button: Submit form to update match %>
      <%= f.submit t(".update_score_btn"), class: "btn btn-shape btn-green mb-3" %>&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
  <% end %>
  <br>
</div>
