<!-- admin/referee: edit or delete a match and dependent user_match_scores -->
<div class="<%= class_names("text-size", "container": !@is_mobile) %>">
  <% if !@is_mobile %><br><% end %>
  <div class="one-liner">
    <h3><%= t '.edit_match_title' %></h3>
  </div>
  <div class="one-liner">
    <h4><%= render "shared/display_club", round: @round %></h4>
  </div>
  <p><%= t '.p01' %></p>

  <% players = [@current_player, @opponent] %>
  <div class="one-liner frame-margin-rl">
    <h5>
      <span style="display: inline-flex; align-items: center; gap: 8px;">
        <%= render "shared/fullname", user: @user_match_scores[0].user %>
        <% if @user_match_scores[0].user.profile_picture.present? %>
          <%= image_tag(profile_picture_circular_url(@user_match_scores[0].user, @is_mobile ? 25 : 50), alt: 'Profile picture', style: "width: #{@is_mobile ? 25 : 50}px; height: #{@is_mobile ? 25 : 50}px; border-radius: 50%; object-fit: cover; flex-shrink: 0;") %>
        <% end %>
      </span>
      <i><%= " versus " %></i>
      <span style="display: inline-flex; align-items: center; gap: 8px;">
        <%= render "shared/fullname", user: @user_match_scores[1].user %>
        <% if @user_match_scores[1].user.profile_picture.present? %>
          <%= image_tag(profile_picture_circular_url(@user_match_scores[1].user, @is_mobile ? 25 : 50), alt: 'Profile picture', style: "width: #{@is_mobile ? 25 : 50}px; height: #{@is_mobile ? 25 : 50}px; border-radius: 50%; object-fit: cover; flex-shrink: 0;") %>
        <% end %>
      </span>
    </h5>
  </div>

  <%= form_for @match do |f| %>
    <div class="frame-color-shape frame-padding frame-margin-rl">
      <br>
      <div class="row">
        <div class="col-4"><%= f.label :court_id, t(".match_played") %></div>
        <div class="col-1"><%= f.select :court_id, 1..10 %></div>
      </div>
      <br>
      <div class="row">
        <div class="col-4"><%= t '.date_time' %></div>
        <div class="col-3">
          <%= f.date_field(:time, min: @round.start_date, max: @max_end_date ) %>
          <%# f.time_select(:time, start_hour: 8, end_hour: 19, minute_step: 30, :time_separator => "") %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-4"></div>
        <div class="col-2"><%= t '.set_1' %></div>
        <div class="col-2"><%= t '.set_2' %></div>
        <div class="col-2"><%= t '.tie_break' %></div>
      </div>
      <%= f.fields_for :user_match_scores do |user_match_score| %>
        <div class="row">
          <div class="col-4"><%= render "shared/fullname", user: players[user_match_score.index] %></div>
          <div class="col-2"><%= user_match_score.select :score_set1, 0..4 %></div>
          <div class="col-2"><%= user_match_score.select :score_set2, 0..4 %></div>
          <div class="col-2"><%= user_match_score.select :score_tiebreak,['Na']+(0..11).to_a %></div>
        </div>
      <% end %>
      <br>
      <% score_input_by = User.find(@match.user_match_scores[0].input_user_id) %>
      <% log_time = @tz.to_local(@match.user_match_scores[0].input_date) %>
      <%= t(".submitted", date: l(log_time, format: :wwwwddmmmyyyy_at_hhmm),
                          user: "#{score_input_by.role} #{(render "shared/fullname", user: score_input_by).strip}") %>
      <br><br>
      <%= hidden_field_tag(:player_id, @current_player.id) %>
      <%= hidden_field_tag(:opponent_id, @opponent.id) %>
      <%= hidden_field_tag(:round, @round.id) %>
      <%= hidden_field_tag(:page_from, @page_from) %>
      <%= hidden_field_tag(:match_id, params[:match_id]) %>
    </div>
    <br>
    <div class="buttons-wrap">
      <%# link_to t(".back_btn"), :back, class: "btn btn-shape btn-yellow" %>
      <%= link_to t(".back_btn"), @page_from, class: "btn btn-shape btn-yellow mb-3" %>

      <%= link_to t(".delete_score_btn"), match_path(@match, page_from: @page_from), class: "btn btn-shape btn-green mb-3",
      data: {turbo_method: :delete, turbo_confirm: t(".sure")} %>&nbsp;&nbsp;&nbsp;&nbsp;

      <%= f.submit t(".update_score_btn"), class: "btn btn-shape btn-green mb-3" %>&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
  <% end %>
  <br>
</div>
