<div class="<%= class_names("container": !@is_mobile) %>">
  <h3><%= t('.load_scores_title', round: round_label(@round), round_start: @round.start_date.strftime('%d/%m/%Y')) %></h3><br>
  <% unless current_user.role == "admin" %>
    <br><br><%= t 'not_authorised' %>
  <% else %>
    <% format_label = t(".format_labels.#{@round.tournament_format}", default: @round.tournament_format.to_s.humanize) %>
    <p>
      <%= t(".p01") %><br>
      <%= t(".format_info", tournament_format: format_label) %><br>
      <%= t(".required_headers") %><br>
      <%= t(".optional_headers") %>
    </p>

    <%= form_with(url: {action: "create_scores"}, multipart: true) do %>
      <div class="frame-color-shape frame-padding-no-top">
        <br>

        <div class="row"><br>
          <div class="col-2"><%= label_tag('delimiter', t('.delimiter')) %></div>
          <div class="col-1"><%= text_field_tag :delimiter, params[:delimiter] || ",", size: 2 %></div>
        </div><br>
        <div class="row"><br>
          <div class="col-2">
            <%= label_tag('load_file', t('load_csv_file')) %>
          </div>
          <%= hidden_field_tag(:round_id, params[:round_id]) %>
          <div class="col-1"><%= file_field_tag :csv_file %></div>
        </div><br>
        <div class="row">
          <div class="col-12">
            <div class="form-check">
              <%= check_box_tag :overwrite_existing, "1", false, class: "form-check-input", id: "overwrite_existing" %>
              <%= label_tag :overwrite_existing, t(".overwrite_existing"), class: "form-check-label" %>
            </div>
          </div>
        </div><br>
      </div><br>
      <div class="buttons-wrap">
        <%= submit_tag t('.submit_btn'), class: "btn btn-shape btn-green" %>&nbsp;&nbsp;&nbsp;&nbsp;
        <%# link_to "Back", "javascript:history.back()", class: "btn btn-shape btn-yellow" %>
        <%# link_to t('.back'), :back, class: "btn btn-shape btn-yellow" %>
        <%= link_to t('.back_btn'), boxes_path(round_id: @round.id, club_id: @round.club_id), class: "btn btn-shape btn-yellow" %>
      </div>
    <% end %>
  <% end %>
</div>
