<!-- admin only: load scores (from csv file)
the csv file must contain fields
  ["first_name_player", "last_name_player",
   "first_name_opponent", "last_name_opponent",
   "points_player", "points_opponent",
   "box_number", "score_winner", "score_winner2",
   "email_player", "phone_number_player", "role_player",
   "email_opponent", "phone_number_opponent", "role_opponent"]
  -->
<div class="<%= class_names("container": !@is_mobile) %>">
  <h3><%= t('.load_scores_title', round: round_label(@round), round_start: @round.start_date.strftime('%d/%m/%Y')) %></h3><br>
  <% unless current_user.role == "admin" %>
    <br><br><%= t 'not_authorised' %>
  <% else %>
    <p><%= t '.p01' %>
    <%= t '.p02_html' %></p>

    <%= form_with(url: {action: "create_scores"}, multipart: true) do %>
      <div class="frame-color-shape frame-padding-no-top">
        <br>

        <div class="row"><br>
          <div class="col-2"><%= label_tag('delimiter', t('.delimiter')) %></div>
          <div class="col-1"><%= text_field_tag :delimiter, params[:delimiter] || ";", size: 2 %></div>
        </div><br>
        <div class="row"><br>
          <div class="col-2">
            <div data-controller="popover" data-bs-html="true" data-bs-toggle="popover"
                data-bs-trigger="hover" data-bs-placement="right" data-bs-delay= '{ "show": 500 }'
                title="<%= t('title_pop') %>" data-bs-content="<%= t('message_pop') %>">
              <%# label_tag t 'load_csv_file' %>
              <%= label_tag('load_file', t('load_csv_file')) %>
            </div>
          </div>
              <%= hidden_field_tag(:round_id, params[:round_id]) %>
          <div class="col-1"><%= file_field_tag :csv_file %></div>
        </div><br>
      </div><br>
      <div class="buttons-wrap">
        <%= submit_tag t('.submit_btn'), class: "btn btn-shape btn-green" %>&nbsp;&nbsp;&nbsp;&nbsp;
        <%# link_to "Back", "javascript:history.back()", class: "btn btn-shape btn-yellow" %>
        <%# link_to t('.back'), :back, class: "btn btn-shape btn-yellow" %>
        <%= link_to t('.back'), boxes_path(round_id: @round.id, club_id: @round.club_id), class: "btn btn-shape btn-yellow" %>
      </div>
    <% end %>
  <% end %>
</div>
