<div class = "container">
  <br>
  <h3>New match score</h3>

  <br><%= render "shared/club_round", round: @round %>
  <% players = [@current_player, @opponent] %>
  <br>
  <div class="same-line">
    <div>
      <h5>
        <%= render "shared/fullname", user: @current_player %><%= " vs " %>
        <%= render "shared/fullname", user: @opponent %>
      </h5>
    </div>
    <div>
      <%= "Enter the new match score" %>
    </div>
    <div></div>
  </div>

  <%= form_for @match do |f| %>
    <div class = "frame-shape">
      <div class="row">
        <div class="col-sm-2"><%= f.label :court_id, "Match played on court: " %></div>
        <div class="col-sm-1"><%= f.select :court_id, 1..@round.club.courts.count, default: 1 %></div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-2">Date & time:</div>
        <div class="col-sm-3">
          <%= f.date_field(:time, min: @round.start_date, max: @end_select, value: @end_select ) %>
          <%= f.time_select(:time, start_hour: 8, end_hour: 19, minute_step: 30, :time_separator => "") %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-1">Set 1</div>
        <div class="col-sm-1">Set 2</div>
        <div class="col-sm-1">Tie-break</div>
      </div>
      <%= f.fields_for :user_match_scores do |user_match_score| %>
        <div class="row">
          <div class="col-sm-2"><%= render "shared/fullname", user: players[user_match_score.index] %></div>
          <div class="col-sm-1"><%= user_match_score.select :score_set1, 0..4 %></div>
          <div class="col-sm-1"><%= user_match_score.select :score_set2, 0..4 %></div>
          <div class="col-sm-1"><%= user_match_score.select :score_tiebreak,['Na']+(0..25).to_a %></div>
        </div>
      <% end %>
      <br>
      <%= hidden_field_tag(:player_id, @current_player.id) %>
      <%= hidden_field_tag(:opponent_id, @opponent.id) %>
      <%= hidden_field_tag(:round_start, @round.start_date) %>
      <%= hidden_field_tag(:round_id, @round.id) %>
      <%# hidden_field_tag(:page_from, @page_from) %>
    </div>
    <br>
    <div class="buttons-wrap">
      <%= f.submit "Save score", class: "btn buttons-shape btn-green" %>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <% if current_user.role == "player" %>
        <%= link_to "Back", manage_my_box_path(@box, page_from: manage_my_box_path(@box)), class: "btn buttons-shape btn-blue" %>
      <% else %>
        <%= link_to "Back", box_referee_path(@box, page_from: box_referee_path(@box)), class: "btn buttons-shape btn-blue" %>
      <% end %>
    </div>
  <% end %>
  <br>
</div>
