<!-- player: enter a new match score-->
<div class = "container text-size" id="form">
  <% if !@is_mobile %><br><% end %>
  <div class="one-liner">
    <h3><%= t(".new_match_title") %></h3>
  </div>
  <div class="one-liner">
    <h4><%= render "shared/display_club", round: @round, add_text: "" %></h4>
  </div>
  <%= t '.p01' %><br><br>

  <% players = [@current_player, @opponent] %>
  <div class="<%= class_names("one-liner", "frame-margin-rl": !@is_mobile, "mobile-frame-margin-rl": @is_mobile)%>">
    <h5>
      <%= render "shared/fullname", user: @current_player %><%= " versus " %>
      <%= render "shared/fullname", user: @opponent %>
    </h5>
  </div>
  <%= "#{@match.user_match_scores[0][:score_set1]} #{@match.user_match_scores[0][:score_set2]} #{@match.user_match_scores[0][:score_tiebreak]}" %>
  <%= form_for @match do |f| %>
    <div class="<%= class_names("frame-color-shape frame-padding",
                                "frame-margin-rl": !@is_mobile,
                                "mobile-frame-margin-rl": @is_mobile)%>">
      <br>
      <div class="row">
        <div class="col-3"><b><%= f.label :court_id, t(".match_played") %></b></div>
        <div class="col-1"><%= f.select(:court_id, 1..@round.club.courts.count, selected: params[:court_id]) %></div>
      </div>
      <br>
      <div class="row">
        <div class="col-3"><b><%= t '.date_time' %></b></div>
        <div class="col-3">
          <%= f.date_field(:time, min: @round.start_date, max: @max_end_date, value: params[:time]? Date.strptime(params[:time], '%Y-%m-%d') : @max_end_date ) %>
          <!-- TO DO: allow start_hour and end_hour to be customised by club referee -->
          <%# f.time_select(:time, start_hour: 8, end_hour: 19, minute_step: 30, :time_separator => "") %>
        </div>
        <div class="col-3 color-tennis-red"><%# params[:time]? Date.strptime(params[:time], '%Y-%m-%d').strftime('%d/%m/%Y') : "" %></div>
      </div>
      <br>
      <b><%= t '.score' %></b>
      <i><div class="row">
        <div class="col-3"><%= @is_mobile ? "" : t('.player_1') %></div>
        <div class="col-2"><%= t '.set_1' %></div>
        <div class="col-2"><%= t '.set_2' %></div>
        <div class="col-2"><%= t '.tie_break' %></div>
        <div class="col-3"><%= @is_mobile ? "" : t('.player_2') %></div>
      </div></i>

      <% scores = [["#{ @is_mobile ? "---" : t('.input_score') }", "0-4", "1-4", "2-4", "3-4", "4-3", "4-2", "4-1", "4-0"]] %>
      <% score_tb = [["---",
                    "0-10", "1-10", "2-10", "3-10", "4-10", "5-10", "6-10", "7-10", "8-10", "9-11 #{ @is_mobile ? "+" : t('.and_more') }",
                    "11-9 #{ @is_mobile ? "+" : t('.and_more') }", "10-8", "10-7", "10-6", "10-5", "10-4", "10-3", "10-2", "10-1", "10-0" ]] %>
      <%= f.fields_for :user_match_scores do |user_match_score| %>
        <div class="row">
          <div class="col-3"><%= render "shared/fullname", user: players[user_match_score.index] %></div>
          <div class="col-2"><%= user_match_score.select(:score_set1, scores[user_match_score.index], selected: params[:score_set1]) %></div>
          <div class="col-2"><%= user_match_score.select( :score_set2, scores[user_match_score.index], selected: params[:score_set2]) %></div>
          <div class="col-2"><%= user_match_score.select( :score_tiebreak,score_tb[user_match_score.index], selected: params[:score_tiebreak]) %></div>
          <div class="col-3 float-right"><%= render "shared/fullname", user: players[1] %></div>
        </div>
      <% end %>
      <br>
      <%= hidden_field_tag(:player, @current_player.id) %>
      <%= hidden_field_tag(:opponent, @opponent.id) %>
      <%= hidden_field_tag(:round_id, @round.id) %>
      <%= hidden_field_tag(:page_from, @page_from) %>
    </div>
    <br>

    <div class="buttons-wrap">
      <%= f.submit t(".save_score_btn"), class: "btn buttons-shape btn-green mb-3" %>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <%# link_to t(".back_btn"), :back, class: "btn buttons-shape btn-yellow" %>
      <%= link_to t(".back_btn"), @page_from, class: "btn buttons-shape btn-yellow mb-3" %>
    </div>
  <% end %>
  <br>
</div>
