<div class = "container">
  <h3>Choose match date <%= render "fullname", user: current_user %> vs <%= render "fullname", user: @opponent %></h3>
  <%= simple_form_for @match do |f| %>
    <%# f.datetime_local_field(:time, min: Time.now().to_s.slice(0,10), max: @round.end_date ) %>
    <%= f.input :time, :minute_step => 30 %>
    <%= hidden_field_tag(:user_id, params[:user_id]) %>
    <%= f.button :submit %>
  <% end %>
</div>
