<%#
  New Match Score Page
  Form for players to enter a new match score.
  Allows selection of court, date/time, and score for both sets and tiebreak.
  Score options are presented as dropdowns with common score combinations.
%>
<div class="<%= class_names("text-size", "container": !@is_mobile, "px-2 px-md-3": @is_mobile) %>" id="form">
  <% if !@is_mobile %><br><% end %>

  <%# Page Header Section %>
  <div class="<%= class_names("one-liner": !@is_mobile, "d-flex flex-column text-center mb-2": @is_mobile) %>">
    <h3 class="<%= class_names("mb-0": !@is_mobile, "mb-2": @is_mobile) %>"><%= t(".new_match_title", box: @box.box_number) %></h3>
    <h4 class="<%= class_names("mb-0": !@is_mobile, "mb-2": @is_mobile) %>"><%= render "shared/display_club", round: @round %></h4>
  </div>
  <div class="<%= class_names("": !@is_mobile, "mb-3 text-center": @is_mobile) %>">
    <%= t '.enter_new_score_html' %>
  </div>

  <%# Players Display: Show both players with profile pictures %>
  <% players = [@current_player, @opponent] %>
  <div class="<%= class_names("one-liner frame-margin-rl": !@is_mobile, "frame-margin-rl mb-3": @is_mobile) %>">
    <h5 class="<%= class_names("": !@is_mobile, "d-flex align-items-center justify-content-center gap-2": @is_mobile) %>">
      <%= render "player_with_picture", user: @current_player, is_mobile: @is_mobile %>
      <i class="<%= class_names("": !@is_mobile, "my-1": @is_mobile) %>"><%= " versus " %></i>
      <%= render "player_with_picture", user: @opponent, is_mobile: @is_mobile %>
    </h5>
  </div>

  <%# Match Score Form %>
  <%= form_for @match do |f| %>
    <div class="frame-color-shape frame-padding frame-margin-rl">
      <br>

      <%# Court Selection: Select court number from available courts %>
      <div class="<%= class_names("row": !@is_mobile, "d-flex flex-column mb-3": @is_mobile) %>">
        <div class="<%= class_names("col-3": !@is_mobile, "mb-2": @is_mobile) %>"><b><%= f.label :court_id, t(".match_played") %></b></div>
        <div class="<%= class_names("col-2": !@is_mobile, "": @is_mobile) %>"><%= f.select(:court_id, 1..@round.club.courts.size, { selected: params[:court_id] }, { class: "form-select" }) %></div>
      </div>

      <%# Date/Time Selection: Date picker with round date constraints %>
      <div class="<%= class_names("row": !@is_mobile, "d-flex flex-column mb-3": @is_mobile) %>">
        <div class="<%= class_names("col-3": !@is_mobile, "mb-2": @is_mobile) %>"><b><%= t '.date_time' %></b></div>
        <div class="<%= class_names("col-3": !@is_mobile, "": @is_mobile) %>">
          <%= f.date_field(:time, min: @round.start_date, max: @max_end_date, selected: @round.start_date,
                                  value: params[:time] ? Date.strptime(params[:time], '%Y-%m-%d') : @max_end_date,
                                  class: "form-control") %>
        </div>
      </div>
      <%# TODO: Allow start_hour and end_hour to be customised by club referee %>
      <%# f.time_select(:time, start_hour: 8, end_hour: 19, minute_step: 30, :time_separator => "") %>

      <%# Score Section: Column headers for score input %>
      <% if @is_mobile %>
        <div class="row">
          <div class="col-3"><b><%= t '.score' %></b></div>
          <div class="col-9">
            <%= render "shared/fullname", user: players[0] %><i>vs</i>
            <%= render "shared/fullname", user: players[1] %>
          </div>
        </div>
        <i><div class="row">
          <div class="col-4"><%= t '.set_1' %></div>
          <div class="col-4"><%= t '.set_2' %></div>
          <div class="col-4"><%= t '.tie_break' %></div>
        </div></i>
      <% else %>
        <b><%= t '.score' %></b>
        <i><div class="row">
          <div class="col-3"><%= t('.player_1') %></div>
          <div class="col-2"><%= t '.set_1' %></div>
          <div class="col-2"><%= t '.set_2' %></div>
          <div class="col-2"><%= t '.tie_break' %></div>
          <div class="col-3"><%= t('.player_2') %></div>
        </div></i>
      <% end %>

      <%# Score Options: Predefined score combinations for sets and tiebreak %>
      <%# Set scores: Common game scores (4-3, 4-2, etc.) %>
      <% scores = [["#{ @is_mobile ? "---" : t('.input_score') }", "4-3", "4-2", "4-1", "4-0", "0-4", "1-4", "2-4", "3-4"]] %>
      <%# Tiebreak scores: Point scores from 0-10, with 11-9+ for extended tiebreaks %>
      <% score_tb = [["---",
                    "11-9 #{ @is_mobile ? "+" : t('.and_more') }", "10-8", "10-7", "10-6", "10-5", "10-4", "10-3", "10-2", "10-1", "10-0",
                    "0-10", "1-10", "2-10", "3-10", "4-10", "5-10", "6-10", "7-10", "8-10", "9-11 #{ @is_mobile ? "+" : t('.and_more') }" ]] %>

      <%# Score Input Fields: Nested form for both players' scores %>
      <%= f.fields_for :user_match_scores do |user_match_score| %>
        <div class="row">
          <%# Player Name Column: Smaller in mobile to make room for wider score fields %>
          <% unless @is_mobile %>
            <div class="col-3 float-right">
            <b><%= render "shared/fullname", user: players[user_match_score.index] %></b>
            </div>
          <% end %>
          <%# Score Dropdowns: Wider columns in mobile to accommodate dropdown arrow and selected text %>
          <div class="<%= class_names(@is_mobile ? "col-4" : "col-2", "mb-2": @is_mobile)%>">
            <%= user_match_score.select(:score_set1, scores[user_match_score.index],
                                        { selected: params[:score_set1] },
                                        { class: "form-select match-score-select" }) %>
          </div>
          <div class="<%= class_names(@is_mobile ? "col-4" : "col-2", "mb-2": @is_mobile)%>">
            <%= user_match_score.select(:score_set2, scores[user_match_score.index],
                                        { selected: params[:score_set2] },
                                        { class: "form-select match-score-select" }) %>
          </div>
          <div class="<%= class_names(@is_mobile ? "col-4" : "col-2", "mb-2": @is_mobile)%>">
            <%= user_match_score.select(:score_tiebreak, score_tb[user_match_score.index],
                                        { selected: params[:score_tiebreak] },
                                        { class: "form-select match-score-select" }) %>
          </div>
          <%# Opponent Name Column: Only show on desktop, hidden in mobile %>
          <% unless @is_mobile %>
            <div class="col-3 float-right">
              <b><%= render "shared/fullname", user: players[1] %></b>
            </div>
          <% end %>
        </div>
      <% end %>
      <br>

      <%# Hidden Fields: Store player IDs, round ID, and return path %>
      <%= hidden_field_tag(:player, @current_player.id) %>
      <%= hidden_field_tag(:opponent, @opponent.id) %>
      <%= hidden_field_tag(:round_id, @round.id) %>
      <%= hidden_field_tag(:page_from, @page_from) %>
    </div>
    <br>

    <%# Form Actions: Back button and Save Score button %>
    <div class="buttons-wrap">
      <%= link_to t(".back_btn"), @page_from, class: "btn btn-shape btn-yellow mb-3" %>
      <%= f.submit t(".save_score_btn"), class: "btn btn-shape btn-green mb-3" %>
    </div>
  <% end %>
  <br>
</div>
