<!-- player: enter a new match score -->
<div class = "container">
  <br>
  <h3><%= t(".new_match_title") %></h3>
  <p><%= t '.p01' %></p>

  <br><%= render "shared/display_club_round", round: @round %>
  <% players = [@current_player, @opponent] %>
  <br>
  <div class="same-line">
    <div>
      <h5>
        <%= render "shared/fullname", user: @current_player %><%= " vs " %>
        <%= render "shared/fullname", user: @opponent %>
      </h5>
    </div>
  </div>

  <%= form_for @match do |f| %>
    <div class = "frame-shape home-wrap">
      <br>
      <div class="row">
        <div class="col-sm-2"><%= f.label :court_id, t(".match_played") %> </div>
        <div class="col-sm-1"><%= f.select :court_id, 1..@round.club.courts.count, default: 1 %></div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-2"><%= t '.date_time' %></div>
        <div class="col-sm-3">
          <%= f.date_field(:time, min: @round.start_date, max: @end_select, value: @end_select ) %>
          <!-- TO DO: allow start_hour and end_hour to be customised by club referee -->
          <%= f.time_select(:time, start_hour: 8, end_hour: 19, minute_step: 30, :time_separator => "") %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-1"><%= t '.set_1' %></div>
        <div class="col-sm-1"><%= t '.set_2' %></div>
        <div class="col-sm-1"><%= t '.tie_break' %></div>
      </div>
      <%= f.fields_for :user_match_scores do |user_match_score| %>
        <div class="row">
          <div class="col-sm-2"><%= render "shared/fullname", user: players[user_match_score.index] %></div>
          <div class="col-sm-1"><%= user_match_score.select :score_set1, 0..4 %></div>
          <div class="col-sm-1"><%= user_match_score.select :score_set2, 0..4 %></div>
          <div class="col-sm-1"><%= user_match_score.select :score_tiebreak,['Na']+(0..25).to_a %></div>
        </div>
      <% end %>
      <br>
      <%= hidden_field_tag(:player_id, @current_player.id) %>
      <%= hidden_field_tag(:opponent_id, @opponent.id) %>
      <%= hidden_field_tag(:round_start, @round.start_date) %>
      <%= hidden_field_tag(:round_id, @round.id) %>
      <%# hidden_field_tag(:page_from, @page_from) %>
    </div>
    <br>
    <div class="buttons-wrap">
      <%= f.submit t(".save_score_btn"), class: "btn buttons-shape btn-green" %>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <% if current_user.role == "player" %>
        <%= link_to t(".back_btn"), my_box_path(@box, page_from: my_box_path(@box)), class: "btn buttons-shape btn-blue" %>
      <% else %>
        <%= link_to t(".back_btn"), box_referee_path(@box, page_from: box_referee_path(@box)), class: "btn buttons-shape btn-blue" %>
      <% end %>
    </div>
  <% end %>
  <br>
</div>
