<!-- player: enter a new match score (OLD VERSION)-->
<div class = "container">
  <br>
  <h3><%= t(".new_match_title") %></h3>
  <p><%= t '.p01' %></p>

  <br><%= render "shared/display_club_round", round: @round %>
  <% players = [@current_player, @opponent] %>
  <br>
  <div class="one-line">
    <div>
      <h5>
        <%= render "shared/fullname", user: @current_player %><%= " vs " %>
        <%= render "shared/fullname", user: @opponent %>
      </h5>
    </div>
  </div>

  <%= form_for @match do |f| %>
    <div class = "frame-color-shape frame-padding-freetop">
      <br>
      <div class="row">
        <div class="col-3"><%= f.label :court_id, t(".match_played") %> </div>
        <div class="col-1"><%= f.select :court_id, 1..@round.club.courts.count, default: 1 %></div>
      </div>
      <br>
      <div class="row">
        <div class="col-3"><%= t '.date_time' %></div>
        <div class="col-3">
          <%= f.date_field(:time, min: @round.start_date, max: @end_select, value: @end_select ) %>
          <!-- TO DO: allow start_hour and end_hour to be customised by club referee -->
          <%# f.time_select(:time, start_hour: 8, end_hour: 19, minute_step: 30, :time_separator => "") %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-3"><%= t '.score' %></div>
        <div class="col-2"><%= t '.set_1' %></div>
        <div class="col-2"><%= t '.set_2' %></div>
        <div class="col-2"><%= t '.tie_break' %></div>
      </div>
      <% scores = [[t('.winner'),"0-4", "1-4","2-4","3-4"],[t('.winner'),"4-0", "4-1","4-2","4-3"]] %>
      <% score_tb = [[t('.winner_tb'),"0-10", "1-10","2-10","3-10","4-10", "5-10","6-10","7-10","8-10", t('.lost_tb')],
                     [t('.winner_tb'),"10-0", "10-1","10-2","10-3","10-4", "10-5","10-6","10-7","10-8", t('.lost_tb')]] %>
      <%= f.fields_for :user_match_scores do |user_match_score| %>
        <div class="row">
          <div class="col-3"><%= render "shared/fullname", user: players[user_match_score.index] %></div>
          <div class="col-2"><%= user_match_score.select :score_set1, scores[user_match_score.index] %></div>
          <div class="col-2"><%= user_match_score.select :score_set2, scores[user_match_score.index] %></div>
          <div class="col-2"><%= user_match_score.select :score_tiebreak,score_tb[user_match_score.index] %></div>
        </div>
      <% end %>
      <div class="row">
        <div class="col-3"></div>
        <%= t '.notice' %><br>
      </div>
      <%= hidden_field_tag(:player_id, @current_player.id) %>
      <%= hidden_field_tag(:opponent_id, @opponent.id) %>
      <%= hidden_field_tag(:round_start, @round.start_date) %>
      <%= hidden_field_tag(:round_id, @round.id) %>
      <%# hidden_field_tag(:page_from, @page_from) %>
    </div>
    <br>
    <div class="buttons-wrap">
      <%= f.submit t(".save_score_btn"), class: "btn buttons-shape btn-green" %>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <% if current_user.role == "player" %>
        <%= link_to t(".back_btn"), my_box_path(@box, page_from: my_box_path(@box)), class: "btn buttons-shape btn-blue" %>
      <% else %>
        <%= link_to t(".back_btn"), box_referee_path(@box, page_from: box_referee_path(@box)), class: "btn buttons-shape btn-blue" %>
      <% end %>
    </div>
  <% end %>
  <br>
</div>
