<div class="container">
  <h3><%= render "fullname", user: current_user %> vs <%= render "fullname", user: @opponent %></h3>
  <div class="form-wrap">
    <h4><%= render "match", my_card: @current_user_match_score %></h4>
    <%= "Played on #{@match.time.strftime("%d/%m/%Y")} (#{@match.time.strftime("%I:%M %p")})" %>
    <br><%= "Court #{@match.court.name}" %>
    <br><%= "Score : #{@current_user_match_score.score_set1}-#{@opponent_match_score.score_set1}" %>
    <%= "#{@current_user_match_score.score_set2}-#{@opponent_match_score.score_set2}" %>
    <% if @current_user_match_score.score_tiebreak + @opponent_match_score.score_tiebreak != 0%>
      <%= "#{@current_user_match_score.score_tiebreak}-#{@opponent_match_score.score_tiebreak}" %>
    <% end %>
    <br>
    <%= render "fullname", user: current_user %><%= "#{@current_user_match_score.points} pts," %>
    <%= render "fullname", user: @opponent %><%= "#{@opponent_match_score.points} pts." %>
    <br><br>
    <% name = "#{render "fullname", user: @manager}" %>
    <% message = "ðŸ“ž #{@manager.phone_number}\b âœ‰ï¸#{@manager.email}" %>
    <div class="mb-4" data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right" title="<%= name %>" data-bs-content="<%= message %>">
      To change this match score, please contact your club manager: <%= render "fullname", user: @manager %>
    </div>
  </div>
  <br>
  <div class="buttons-wrap">
    <%= link_to "Back to my box", mybox_path(current_user.user_box_scores[0].box), class: "btn button-purple" %>
  </div>
</div>
