<div class="container">
  <% player_rank = UserBoxScore.find_by(box_id: @match.box.id, user_id:current_user.id).rank %>
  <% opponent_rank = UserBoxScore.find_by(box_id: @match.box.id, user_id:@opponent.id).rank %>
  <h3><%= render "shared/fullname", user: current_user %><%= "(# #{player_rank})" %> vs
  <%= render "shared/fullname", user: @opponent %><%= "(# #{opponent_rank})" %></h3>

  <div class="form-wrap">
    <h4><%= render "match", my_card: @current_user_match_score %>by <%= render "shared/fullname", user: current_user %></h4>
    <%= "Played on court #{@match.court.name}, on #{@match.time.strftime("%d/%m/%Y")} (#{@match.time.strftime("%I:%M %p")})" %>
    <br><br><%= "Score : #{@current_user_match_score.score_set1}-#{@opponent_match_score.score_set1}" %>
    <%= "#{@current_user_match_score.score_set2}-#{@opponent_match_score.score_set2}" %>
    <% if @current_user_match_score.score_tiebreak + @opponent_match_score.score_tiebreak != 0%>
      <%= "#{@current_user_match_score.score_tiebreak}-#{@opponent_match_score.score_tiebreak}" %>
    <% end %>
    <% ums =  UserMatchScore.find_by(match_id: @match.id, user_id: current_user.id) %>
    <% score_input_by = User.find(ums.input_user_id) %>
    <% message = "input on #{ums.input_date.strftime("%d %b %Y")} #{ums.input_date.strftime("%I:%M %p")} by #{score_input_by.role} #{(render "shared/fullname", user: score_input_by).strip}." %>
    <span style="color:grey"><%= message %></span><br>
    <%= (render "shared/fullname", user: current_user).strip %><%= ": #{@current_user_match_score.points} pts - " %>
    <%= (render "shared/fullname", user: @opponent).strip %><%= ": #{@opponent_match_score.points} pts." %>
    <br><br>
    <% name = "#{render "shared/fullname", user: @manager}" %>
    <% message = "ðŸ“ž #{@manager.phone_number}<br />âœ‰ï¸#{@manager.email}" %>
    <div data-controller="popover" data-bs-html="true" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right" title="<%= name %>" data-bs-content="<%= message %>">
      To change this match score, please contact your club manager <%= (render "shared/fullname", user: @manager).strip %>.
    </div>
  </div>
  </div>
  <br>
  <div class="buttons-wrap">
    <%= link_to "Back to my box", manage_my_box_path(@my_current_box), class: "btn button-flat" %>
  </div>
</div>
