<div class="container">
  <% player_rank = UserBoxScore.find_by(box_id: @match.box.id, user_id:current_user.id).rank %>
  <% opponent_rank = UserBoxScore.find_by(box_id: @match.box.id, user_id:@opponent.id).rank %>
  <h3><%= render "shared/fullname", user: current_user %><%= "(# #{player_rank})" %> vs
  <%= render "shared/fullname", user: @opponent %><%= "(# #{opponent_rank})" %></h3>
  <div class="form-wrap">
    <h4><%= render "match", my_card: @current_user_match_score %>by <%= render "shared/fullname", user: current_user %></h4>
    <%= "Played on #{@match.time.strftime("%d/%m/%Y")} (#{@match.time.strftime("%I:%M %p")})" %>
    <br><%= "Court #{@match.court.name}" %>
    <br><%= "Score : #{@current_user_match_score.score_set1}-#{@opponent_match_score.score_set1}" %>
    <%= "#{@current_user_match_score.score_set2}-#{@opponent_match_score.score_set2}" %>
    <% if @current_user_match_score.score_tiebreak + @opponent_match_score.score_tiebreak != 0%>
      <%= "#{@current_user_match_score.score_tiebreak}-#{@opponent_match_score.score_tiebreak}" %>
    <% end %>
    <br>
    <%= render "shared/fullname", user: current_user %><%= "#{@current_user_match_score.points} pts," %>
    <%= render "shared/fullname", user: @opponent %><%= "#{@opponent_match_score.points} pts." %>
    <br><br>
    <% name = "#{render "shared/fullname", user: @manager}" %>
    <% message = "ðŸ“ž #{@manager.phone_number}\b âœ‰ï¸#{@manager.email}" %>
    <div class="mb-4" data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right" title="<%= name %>" data-bs-content="<%= message %>">
      To change this match score, please contact your club manager: <%= render "shared/fullname", user: @manager %>
    </div>
  </div>
  <br>
  <div class="buttons-wrap">
    <%= link_to "Back to my box", manage_my_box_path(@my_current_box), class: "btn button-purple" %>
  </div>
</div>
