<!DOCTYPE html>
<html>
  <head>
    <style>
      /* styling for the self written messages in the chatroom */
      <%= ".msg-#{current_user&.id}" %> {
      /* background-color: #007bff !important; */
      background-color: #FFC65A !important;
      opacity: 90%;
      padding: 5px;
      }
      <%= ".cont-#{current_user&.id}" %> {
      display: flex;
      justify-content: flex-end
      }
    </style>

    <title><%= meta_title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="<%= meta_description %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag "favicon.png", rel: "icon", type: "image/png" %>
</head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <%= yield %>
  </body>
</html>
